src/main/resources/dtoSchemas/customer/lookup/CPFLookUpCriteria_V1.xsd

<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer.lookup" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:customer="http://com.oocl.schema.customer" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.customer.lookup" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../../tnm/AgreementID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Company_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Country_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Address_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CityLevel_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Address_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/PhoneNumber_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer" schemaLocation="../CustomerContact_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer" schemaLocation="../CustomerSalesRepAssignment_V1.xsd"/>
	<xsd:include schemaLocation="CustomerCriteria_V1.xsd"/>
	<xsd:complexType name="CPFLookUpCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>A complex type that represents the lookup criteria for the customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CustomerSearchCriteria" type="CustomerCriteria_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the various details of the customer like customer name, city, SAP_ID, Customer_ID, and CargoSmart_ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerAlias" type="common:CompanyName_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the details of the alias of the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Country" type="common:Country_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the country information of the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="State" type="common:AddressLine_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the state name.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostalCode" type="common:ZIP_Code_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the postal code.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="common:Address_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the full address of the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PhoneInformation" type="common:PhoneNumber_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents information about the phone numbers of the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerContacts" type="customer:CustomerContact_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Represents the information about the contacts associated to the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReferenceType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="AgreementNumber"/>
						<xsd:enumeration value="BookingNumber"/>
						<xsd:enumeration value="BillOfLadingNumber"/>
						<xsd:enumeration value="ContainerNumber"/>
						<xsd:enumeration value="InvoiceNumber"/>
						<xsd:enumeration value="CustomerReferenceNumber"/>
						<xsd:enumeration value="ForwarderReferenceNumber"/>
						<xsd:enumeration value="PurchaseOrderNumber"/>
						<xsd:enumeration value="ShipperIdentifyingNumber">
							<xsd:annotation>
								<xsd:documentation>
									Shipper's Identifying Number for Shipment (SID) 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="ShipperReferenceNumber"/>
						<xsd:enumeration value="TrackingNumber"/>
						<xsd:enumeration value="ServiceRequestNumber"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ReferenceValue" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This can be any reference used as a criteria to find legal parties.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SalesRepresentative" type="customer:CustomerSalesRepAssignment_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the information about the contacts associated to the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
