src/main/resources/dtoSchemas/customer/lookup/CPFSearchResult_V1.xsd

<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer.lookup" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.customer.lookup" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UpdateResult_V1.xsd"/>
	<xsd:include schemaLocation="CPFLookUpResult_V1.xsd"/>
	<xsd:complexType name="CPFSearchResult_V1">
		<xsd:annotation>
			<xsd:documentation>A complex type that represents the details of the customer returned by the service.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CPFLookUpResults" type="CPFLookUpResult_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Specifies details like customer information (SAPID, IRIS2ID, CargoSmartID), phone numbers, agreement numbers associated to that customer, legal ancilliaries (if any) associated to that customer, credit status of the customer, and role(s) associated to that particular customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the details of the UpdateResult DTO, like validation errors etc.,
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
