src/main/resources/dtoSchemas/shipment/event/ContainerPackage_EVT_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Josie Tapas (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:shipment="http://com.oocl.schema.shipment" targetNamespace="http://com.oocl.schema.shipment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../ShipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="../PackageReferenceCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:element name="ContainerPackage_EVT_V1">
		<xsd:annotation>
			<xsd:documentation>This generates domain state change event whenever any part of ODS data changes (insert, update, delete). These ODS tables are CONTAINER_PACKAGE, SHMT_RTE, TRUNK_LEG and OB_DOOR_LEG, IB_DOOR_LEG</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UUID" type="common:UUID_V1">
					<xsd:annotation>
						<xsd:documentation>This is the Container Package Unique ID which is equivalent to CONTAINER_PACKAGE.PACKAGE_UUID</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceCode" type="shipment:PackageReferenceCode_V1">
					<xsd:annotation>
						<xsd:documentation>This is Container Package Reference Code which is equivalent to CONTAINER_PACKAGE.INTERNAL_SHMT_NUM</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
