src/main/resources/dtoSchemas/shipment/event/TriangulationPackage_EVT_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Josie Tapas (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:shipment="http://com.oocl.schema.shipment" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.shipment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../ShipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="../PackageReferenceCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:element name="TriangulationPackage_EVT_V1">
		<xsd:annotation>
			<xsd:documentation>This generates domain state change event whenever any part of TRIANGULATION_PKG data changes (insert, update, delete)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InboundContainerPackageUUID" type="common:UUID_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.IB_CNTR_PKG_UUID </xsd:documentation>
					</xsd:annotation>				
				</xsd:element>			
				<xsd:element name="InboundContainerPackageReferenceCode" type="shipment:PackageReferenceCode_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.IB_CNTR_PKG_INTERNAL_SHMT_NUM</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="InboundShipmentNumber" type="shipment:ShipmentNumber_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.IB_TRCKG_GRP_REF_CDE </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OutboundContainerPackageUUID" type="common:UUID_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.OB_CNTR_PKG_UUID </xsd:documentation>
					</xsd:annotation>				
				</xsd:element>				
				<xsd:element name="OutboundContainerPackageReferenceCode" type="shipment:PackageReferenceCode_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.OB_CNTR_PKG_INTERNAL_SHMT_NUM</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OutboundShipmentNumber" type="shipment:ShipmentNumber_V1">
					<xsd:annotation>
						<xsd:documentation>This is equivalent to TRIANGULATION_PKG.OB_TRCKG_GRP_REF_CDE </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
