src/main/resources/dtoSchemas/tnm/salesview/AgreementShipmentParty_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.salesview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:customer="http://com.oocl.schema.customer" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.salesview">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SalesRepresentative_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Company_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer" schemaLocation="../../customer/CustomerAddress_V1.xsd"/>
	<xsd:complexType name="AgreementShipmentParty_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This Type contains the collection of Shipment Parties associated to a given Agreement.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RoleCode" type="common:CompanyRoleCode_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					   Role of Shipment Party.  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					   Unique identifier associated to the Shipment Party.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="common:CompanyName_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the Shipment Party
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="customer:CustomerAddress_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					   Shipment Party Address
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssignedSalesRepresentative" type="common:SalesRepresentative_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains a collection of sales representatives assigned to the shipment party
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
