src/main/resources/dtoSchemas/tnm/salesview/BKG_PerformanceDetails_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm.salesview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:salesview="http://com.oocl.schema.tnm.salesview" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.salesview" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CDRIVE_SystemMessage_V1.xsd"/>
	<xsd:include schemaLocation="BKG_PerformanceDetail_V1.xsd"/>
	<xsd:complexType name="BKG_PerformanceDetails_V1">
		<xsd:annotation>
			<xsd:documentation>Contains detailed information associated to a Booking Performance</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PerformanceDetails" type="salesview:BKG_PerformanceDetail_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Contains a collection of detailed information associated to the performance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Message" type="common:CDRIVE_SystemMessage_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Place holder for error/exception messages associated with external call to CPRS application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
