src/main/resources/dtoSchemas/tnm/salesview/DND_SummaryDetail_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Mai Pham (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.salesview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:shipment="http://com.oocl.schema.shipment" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:salesview="http://com.oocl.schema.tnm.salesview" targetNamespace="http://com.oocl.schema.tnm.salesview" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- note to make sure the right way to import framework dependencies -->
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/ShipmentBound_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/DND_Type_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Region_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../Tariff_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CargoNature_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:complexType name="DND_SummaryDetail_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				DND Summary Detail information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP ID of queried customer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DND_Type" type="common:DND_Type_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					    DND type is demurrage, detention types, Quay Rent or 2-in-1 (Det/Dem).
				   </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfContainers" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					    Number of container affected under a particular type of DND.
				   </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AverageTariffFreeTimeInDays" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Free time in days offered to customer under a particular tariff.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AverageAgreementFreeTimeInDays" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Free time in days offered to customer under a particular service agreement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AverageUsageInDays" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sum of usages in days divided by no. of affected containers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalDaysAbsorbedBeyondTariff" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Difference between agreement free time and tariff free time divided by no. of affected containers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
