src/main/resources/dtoSchemas/tnm/salesview/DND_Summary_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm.salesview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:salesview="http://com.oocl.schema.tnm.salesview" targetNamespace="http://com.oocl.schema.tnm.salesview" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="DND_SummaryDetail_V1.xsd"/>
	<xsd:include schemaLocation="SalesViewAggregateStatus_V1.xsd"/>
	<xsd:complexType name="DND_Summary_V1">
		<xsd:annotation>
			<xsd:documentation>AggregateStatus indicates if  aggregated DND Summary is available or not for queried customer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AggregateStatus" type="salesview:SalesViewAggregateStatus_V1">
				<xsd:annotation>
					<xsd:documentation>Indicates status of DND aggregation for queried customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Summary" type="salesview:DND_SummaryDetail_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Contains a collection of detailed information associated to the DND summary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
