src/main/resources/dtoSchemas/tnm/salesview/KPI_PerformanceSummary_V1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm.salesview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:ns1="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.salesview" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="KPI_SummaryDetail_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CDRIVE_SystemMessage_V1.xsd"/>
	<xsd:complexType name="KPI_PerformanceSummary_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			CustomerTEUKPISummaryResult wraps the result of extracting shipment TEU KPI information from CPRS.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1"/>
			<xsd:element name="KPISummaries" type="KPISummaryDetail_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Message" type="common:CDRIVE_SystemMessage_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
