src/main/resources/dtoSchemas/customer/event/CustomerSharePermissions_EVT_V1.xsd

<!--  edited with XMLSpy v2008 (http://www.altova.com) by abrudho (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer.event" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.customer.event" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:element name="CustomerSharePermissions_EVT_V1">
		<xsd:annotation>
			<xsd:documentation>This generates domain state change event for SSEC Customer Share Rule Permissions data change (update)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ShareRulePermissionID" type="common:ID_Integer15_V1">
					<xsd:annotation>
						<xsd:documentation>This is the Customer Share Rule Permissions ID which is equivalent to SSEC_SHARE_RULE_PRMSSN.SHR_RULE_PRMSSN_ID</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ShareRuleID" type="common:ID_Integer15_V1">
					<xsd:annotation>
						<xsd:documentation>This is the Customer Share Rule ID  which is equivalent to SSEC_SHARE_RULE_PRMSSN.SHR_RULE_ID</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
