src/main/resources/dtoSchemas/eqm/BCR_InventoryForecastRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Facility_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/OpZone_V1.xsd"/>
	<xsd:include schemaLocation="ContainerSizeType_V1.xsd"/>
	<xsd:complexType name="BCR_InventoryForecastRequest_V1">
		<xsd:annotation>
			<xsd:documentation>Information on the searching criteria for BCR requesting inventory forecast data</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForecastDate" type="iodt:FWAbsoluteDateTimeDTO" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of forecast date to enquire the ending balance for a facility in a opzone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpSizeType" type="ContainerSizeType_V1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of equipment size type as the search criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Facility" type="common:Facility_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>   The facility  for this inventory forecast</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OpZone" type="common:OpZone_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of opzone code as the search criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
