src/main/resources/dtoSchemas/eqm/ChassisProfile_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>
	<xsd:complexType name="ChassisProfile_V1">
		<xsd:sequence>
			<xsd:element name="Axles" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BiennialTestDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="Bolsters" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Brakes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CertFHWA" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CertFHWADate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="ChzControlType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChzFinanceBank" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChzPool" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChzVinNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreateUserID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Electrical" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EqpId" type="xsd:long"/>
			<xsd:element name="ExtLength" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Frame" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Height" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HeightUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IsOOCLUseOnly" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LandingLeg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Length" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LengthUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LicExpiryDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="LicNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LicState" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MainBeam" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaxGrossVehicle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NextBiennialTestDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="Paint" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreMaintCompleteDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="RefurbishDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="Rims" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SecondExtLength" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpecialProjCompleteDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="Suspension" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tires" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TitleNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TitleState" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
			<xsd:element name="WeightUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Width" type="xsd:string" minOccurs="0"/>
			<xsd:element name="WidthUnit" type="xsd:string" minOccurs="0"/>
			<!-- Added by Venus 2011-03-07 -->
			<xsd:element name="GPSDevice" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specify the GPS device attached to this chassis</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
