src/main/resources/dtoSchemas/eqm/Contact_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="Contact_V1">
    <xsd:sequence>
      <xsd:element name="ContactId" type="xsd:long"/>
      <xsd:element name="ContactAddress" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactEmailAddr" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactFaxNo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactPerson" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactPhoneNo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
