src/main/resources/dtoSchemas/eqm/ContainerNumber_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Venus Chiu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:include schemaLocation="EquipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="ContainerCheckDigit_V1.xsd"/>
	<xsd:complexType name="ContainerNumber_V2">
		<xsd:annotation>
			<xsd:documentation> This defines the container number with check digit </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContainerNumber" type="EquipmentNumber_V1">
				<xsd:annotation>
					<xsd:documentation>  The container number </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContainerCheckDigit" type="ContainerCheckDigit_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  The container check digit </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
