src/main/resources/dtoSchemas/eqm/CustomerPatternRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="CustomerPatternRequest_V1">
    <xsd:sequence>
      <xsd:element name="ActionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dest" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DropLoc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EndDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="EqpSpecs" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Feedbacks" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Origin" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PickupLoc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ScAgreementNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StartDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
