src/main/resources/dtoSchemas/eqm/EquipmentInventorySummary_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
  <xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>

  <xsd:complexType name="EquipmentInventorySummary_V1">
    <xsd:sequence>
      <xsd:element name="EqpAL_MNR" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_MTA" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_MTU" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_OTH" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_SOC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_UIL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_UOL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAL_UTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAS_FULL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAS_MTY" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAS_OTH" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAS_SOC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpAS_TS_OUT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpCond" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_MNR" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_MTA" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_MTU" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_OTH" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_SOC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_TS_OUT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_UIL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_UOL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpIT_UTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpOpzone" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpRuIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpSizeTypeGroup" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpSubCond" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FacCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OsdUpdateDtGmt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="PicVersionNum" type="xsd:long"/>
      <xsd:element name="RecordTarget" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RecordType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Region" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Territory" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
