src/main/resources/dtoSchemas/eqm/EquipmentEventNotification_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iodt="http://com.oocl.frm.common.date.dto/" xmlns:epa="http://com.oocl.schema.epa" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:include schemaLocation="EquipmentNumber_V1.xsd" />
	<xsd:include schemaLocation="RestrictedUseLabelBookMatch_V1.xsd" />
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.epa" schemaLocation="../epa/EmptyPickupAppointmentDataTypes_V5.xsd"/>
	<xsd:complexType name="EquipmentEventNotification_V1">
		<xsd:annotation>
			<xsd:documentation>Information that IRIS-2 processed the event then need to notify EQM</xsd:documentation>
		</xsd:annotation>	 
		<xsd:sequence>
			<xsd:element name="EventUniqueReference" type="xsd:string"/>
			<xsd:element name="BookingNumber" type="xsd:string" nillable="true"/>
			<xsd:element name="ContainerNumber" type="EquipmentNumber_V1" nillable="true"/>
			<xsd:element name="ContainerSlotID" type="xsd:string" nillable="true"/>
			<xsd:element name="CurrentFacility" type="xsd:string" nillable="true"/>
			<xsd:element name="NextFacility" type="xsd:string" nillable="true"/>
			<xsd:element name="RU_Label" type="RestrictedUseLabelBookMatch_V1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExternalPickupReference" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="PickupSizeType" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="ActualPickupDateTimeGMT" type="iodt:FWAbsoluteDateTimeDTO" nillable="true" minOccurs="0"/>
			<xsd:element name="EventType" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="AppointmentNumber" type="epa:AppointmentID_V1" nillable="true" minOccurs="0"/> 
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
