src/main/resources/dtoSchemas/eqm/EquipmentForSaleRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="EquipmentForSaleRequest_V1">
    <xsd:sequence>
      <xsd:element name="AgeFrom" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AgeTo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CntrNumPrefix" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CurrentLocation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CurrentStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqipmentNumFrom" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqipmentNumTo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IncludeNotOwnByOOCL" type="xsd:boolean"/>
      <xsd:element name="IncludeNotPreviouslyNominate" type="xsd:boolean"/>
      <xsd:element name="IncludeWithoutManufactDate" type="xsd:boolean"/>
      <xsd:element name="SizeType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
