src/main/resources/dtoSchemas/eqm/Facility_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="Facility_V1">
    <xsd:sequence>
      <xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CityId" type="xsd:long"/>
      <xsd:element name="ContactPerson" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EmailAddress" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="FacilityCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FaxNum" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PhoneNum" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
