src/main/resources/dtoSchemas/eqm/FreeUseSummary_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:complexType name="FreeUseSummary_V1">
		<xsd:sequence>
			<xsd:element name="AuthNum" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TotalOnHire" type="xsd:int" minOccurs="1"/>
			<xsd:element name="TotalLoss" type="xsd:int" minOccurs="1"/>
			<xsd:element name="TotalOffHire" type="xsd:int" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>