src/main/resources/dtoSchemas/eqm/GensetProfile_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>
	<xsd:complexType name="GensetProfile_V1">
		<xsd:sequence>
			<xsd:element name="Capacity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CapacityUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Carb" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreateUserID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmptyTankWidth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EngineSerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EqpId" type="xsd:long"/>
			<xsd:element name="FullTankWidth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GensetGPS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HourMeterReading" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MachineSerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaintCompletionDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="Maker" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MicroprocessorType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModelNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TankWidthUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
			<!-- Added by Venus 2011-03-07 -->
			<xsd:element name="GPSDevice" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specify the GPS device attached to this genset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
