src/main/resources/dtoSchemas/eqm/InventoryViewDrillDownActualRepo_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by Venus 2010-11-22
		Drill Down Report response for the Actual Repo In and Actual Repo Out columns in the Inventory View Summary report.  -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/OpZone_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Facility_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SVVD_V1.xsd"/>
	<xsd:include schemaLocation="RestrictedUseLabel_V1.xsd"/>
	<xsd:include schemaLocation="EquipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="ContainerSizeType_V1.xsd"/>
	<xsd:complexType name="InventoryViewDrillDownActualRepo_V1">
		<xsd:annotation>
			<xsd:documentation> Drill Down Report for the Actual Repo In and Actual Repo Out columns in the Inventory View Summary report. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LastEventDate" type="iodt:FWAbsoluteDateTimeDTO">
				<xsd:annotation>
					<xsd:documentation>Last Event Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpSizeType" type="ContainerSizeType_V1">
				<xsd:annotation>
					<xsd:documentation> The size type of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpNum" type="EquipmentNumber_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The eqp num of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RU_Label" type="RestrictedUseLabel_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The RU label of the empty container  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OriginOpZone" type="common:OpZone_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The orgin opzone of the empty container</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OriginFacility" type="common:Facility_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The orgin facility of the empty container   </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ATD" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  Actual Time of Depature  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DestinationOpZone" type="common:OpZone_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The destination opzone of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DestinationFacility" type="common:Facility_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The destination facility of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ETA" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Estimated Time of  Arrival</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SVVD" type="common:SVVD_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  Voyage Information of the empty container</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportationMode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Empty Plan transportation Mode  </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IRIS_EP_Num" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The Empty Plan Number of the empty container</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
