src/main/resources/dtoSchemas/eqm/InventoryStatus_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<!-- Created by Eva 2011-11-2
  -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:complexType name="InventoryStatus_V1">
		<xsd:annotation>
			<xsd:documentation> This defines the inventory status.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PosAtRoute">
				<xsd:annotation>
					<xsd:documentation>The position at route of the inventory</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="InvDtlStatus">
				<xsd:annotation>
					<xsd:documentation>The detail status of the inventory.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="WithRU" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicates if the inventory is attached with RU label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
