src/main/resources/dtoSchemas/eqm/InventoryViewDrillDownActualEmpty_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by Venus 2010-11-22
		Drill Down Report response for the Actual Repo In and Actual Repo Out columns in the Inventory View Summary report.  -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Facility_V1.xsd"/>
	<xsd:include schemaLocation="RestrictedUseLabel_V1.xsd"/>
	<xsd:include schemaLocation="EquipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="ContainerSizeType_V1.xsd"/>
	<xsd:include schemaLocation="Authorization_V1.xsd"/>
	<xsd:complexType name="InventoryViewDrillDownActualEmpty_V1">
		<xsd:annotation>
			<xsd:documentation> Drill Down Report for all the Actual Empty Columns except the Actual Repo In and Actual Repo Out columns (e.g. ACT_UNCOND_MTA, ACT_COND_MTA, ACT_RESERVED, ACT_MNR ) in the Inventory View Summary report. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LastEventDate" type="iodt:FWAbsoluteDateTimeDTO">
				<xsd:annotation>
					<xsd:documentation>Last Event Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Facility" type="common:Facility_V1">
				<xsd:annotation>
					<xsd:documentation>Facility</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpSizeType" type="ContainerSizeType_V1">
				<xsd:annotation>
					<xsd:documentation> The size type of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpNum" type="EquipmentNumber_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The eqp num of the empty container </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RU_Label" type="RestrictedUseLabel_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The RU label of the empty container  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AuthorizationNum" type="Authorization_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> The Authorization Number of the empty container  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
