src/main/resources/dtoSchemas/eqm/InventoryDrillDownResponse_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<!-- Created by Venus 2011-10-11-->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iodt="http://com.oocl.frm.common.date.dto/" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:include schemaLocation="InventoryDrillDownCommon_V1.xsd"/>
	<xsd:include schemaLocation="InventoryDrillDownMTA_V1.xsd"/>
	<xsd:include schemaLocation="InventoryDrillDownMTRtn_V1.xsd"/>
	<xsd:include schemaLocation="InventoryDrillDownRepoIn_V1.xsd"/>
	<xsd:include schemaLocation="InventoryDrillDownOffhire_V1.xsd"/>
	<xsd:include schemaLocation="EquipmentExport_V1.xsd"/>
	<xsd:complexType name="InventoryDrillDownResponse_V1">
		<xsd:annotation>
			<xsd:documentation>This is the response for the inventory drill down report. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommonDrillDown" type="InventoryDrillDownCommon_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The normal response for the inventory drill down for MTU and MNR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MTADrillDown" type="InventoryDrillDownMTA_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The normal response for the inventory drill down for MTA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepoInDrillDown" type="InventoryDrillDownRepoIn_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The normal response for the inventory drill down for Repo In.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MTRtnDrillDown" type="InventoryDrillDownMTRtn_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The normal response for the inventory drill down for MT Return.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OffhireDrillDown" type="InventoryDrillDownOffhire_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The normal response for the inventory drill down for Offhire.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatesOfWeek" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0" maxOccurs="7">
				<xsd:annotation>
					<xsd:documentation>The corresponding dates of week for the requested week. Use in inventory drill down for MT Return.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Export" type="EquipmentExport_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The export response for the inventory drill down for all drill down types.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
