src/main/resources/dtoSchemas/eqm/InventoryDrillDownRepoIn_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<!-- Created by Eva 2011-11-2
  -->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Facility_V1.xsd"/>
	<xsd:include schemaLocation="ContainerSizeType_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SVVD_V1.xsd"/>
	<xsd:complexType name="InventoryDrillDownRepoIn_V1">
		<xsd:annotation>
			<xsd:documentation> This is the WS response for the inventory drill down request for Repo In drill down type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CurrLoc" type="common:Facility_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The current location of the inventory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UltLoc" type="common:Facility_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The ultimate location of the inventory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpSizeType" type="ContainerSizeType_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The eqp size type of the inventory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArrivalDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The arrival date of the inventory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SVVD" type="common:SVVD_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Voyage Information of the inventory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportationMode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Empty Plan transportation Mode of the inventory.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Quantity" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>The number of containers in the given dimension.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FMT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Y: Freight Empty Repo Only; N: Non-Freight Empty Repo Only </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
