src/main/resources/dtoSchemas/eqm/Map_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:complexType name="Map_V1">
		<xsd:annotation>
			<xsd:documentation> This is the XSD storing information for all the reporting pages using the Generic Report Framework. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MapEntry" type="MapEntry_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MapEntry_V1" >
		<xsd:annotation>
			<xsd:documentation> Key-Value Pairs </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
