src/main/resources/dtoSchemas/eqm/Nomination_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:include schemaLocation="ContainerSlotInfo_V1.xsd" />
	<xsd:include schemaLocation="UsagePlanInfo_V1.xsd" />
	<xsd:complexType name="Nomination_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the nomination from equipment match booking or booking match equipment.</xsd:documentation>
		</xsd:annotation>	
		<xsd:sequence>
			<xsd:element name="ContainerSlotInfo" type="ContainerSlotInfo_V1" nillable="true"/>
			<xsd:element name="UsagePlanInfo" type="UsagePlanInfo_V1" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
