src/main/resources/dtoSchemas/eqm/OffHireQuotaRefreshRule_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="OffHireQuotaRefreshRule_V1">
    <xsd:sequence>
      <xsd:element name="ActionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Increase" type="xsd:boolean"/>
      <xsd:element name="SpecificSizeType" type="xsd:boolean"/>
      <xsd:element name="OnHireThreshold" type="xsd:long"/>
      <xsd:element name="PercentageChange" type="xsd:double"/>
      <xsd:element name="SizeType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
