src/main/resources/dtoSchemas/eqm/OfficeHierarchy_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="OfficeHierarchy_V1">
    <xsd:sequence>
      <xsd:element name="HierarchyType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OfficeCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RegionCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RegionName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TerritoryCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TerritoryName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
