src/main/resources/dtoSchemas/eqm/OpzoneDetailInventoryRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by OOCL (Orient Overseas Container Line Ltd.) -->
<!-- Created by Venus 2011-04-12-->
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/OpZone_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/TradeCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="ContainerSizeType_V1.xsd"/>
	<xsd:complexType name="OpzoneDetailInventoryRequest_V1">
		<xsd:annotation>
			<xsd:documentation> This is the WS request for the Opzone Detail UI for CM2.0R1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpZone" type="common:OpZone_V1" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>  The opzone to filter report data </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EqpSizeType" type="ContainerSizeType_V1" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>  The eqp size type to filter report data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TradePool" type="tnm:TradeCode_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Trade includes: TPT; AET; TAT; AUT; IAT; IET; CLG. (Only has value for the Region/Opzone view )  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Year" type="common:Year_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>   Year for the empty container inventory </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Week" type="common:Week_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>   Week for the empty container inventory. (1-53)  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfWeeks" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicate how many weeks the WS should forecast or how many weeks in the WS shoudl retreive as history</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisplayType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Possible Values are: INVENTORY, OFFHIRE, FREIGHT_MT
OFFHIRE means only show inventory for offhirable in that week for that opzone. 
INVENTORY means show the inventory data required to calculate the balance and the offhirable column output will be 0.
FREIGHT_MT means only show freight MT related inventory, others will be 0
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element minOccurs="0" name="Trade" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Trade</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Tradelane" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Tradelane</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="NumWk" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Number of Forecast Week</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="StartWk" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Start Year Week Number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
