src/main/resources/dtoSchemas/eqm/QuotaAssociation_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">

  <xsd:complexType name="QuotaAssociation_V1">
    <xsd:sequence>
      <xsd:element name="ContractNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="QuotaCounterId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="QuotaCounterStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="QuotaType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UsagePlanId" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
