src/main/resources/dtoSchemas/eqm/QuotaCounter_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
  <xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>
  <xsd:include schemaLocation="QuotaAssociation_V1.xsd"/>

  <xsd:complexType name="QuotaCounter_V1">
    <xsd:sequence>
      <xsd:element name="ActualDropQuantity" type="xsd:int"/>
      <xsd:element name="ActualPickedQuantity" type="xsd:int"/>
      <xsd:element name="ActualTerminatedQuantity" type="xsd:int"/>
      <xsd:element name="AlertDetails" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AlertIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AlertType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssignedQuota" type="xsd:int"/>
      <xsd:element name="AuthDtlId" type="xsd:long"/>
      <xsd:element name="AuthorizationNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AvailableQuantity" type="xsd:int"/>
      <xsd:element name="CompleteQuantity" type="xsd:int"/>
      <xsd:element name="CompletedQuota" type="xsd:int"/>
      <xsd:element name="ConfirmedPickedQuantity" type="xsd:int"/>
      <xsd:element name="ContractNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContributedByContracts" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreateDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="DeliveryDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="DropOffInfoId" type="xsd:long"/>
      <xsd:element name="EffectiveDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="EquipmentSizeType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ExpiryDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="Id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InvoiceStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LastUpdateMonth" type="xsd:int"/>
      <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MatchedPickedQuantity" type="xsd:int"/>
      <xsd:element name="OutstandingQuota" type="xsd:int"/>
      <xsd:element name="PartnerCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PartnerFullName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PartnerId" type="xsd:long"/>
      <xsd:element name="PendingQuantity" type="xsd:int"/>
      <xsd:element name="PlannedDropQuantity" type="xsd:int"/>
      <xsd:element name="PossibleDropQuantity" type="xsd:int"/>
      <xsd:element name="QuotaAssociations" type="QuotaAssociation_V1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="QuotaType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SharedInfo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SharedType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
