src/main/resources/dtoSchemas/eqm/ReportTemplateSubscription_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="ReportTemplateSubscription_V1">
    <xsd:sequence>
      <xsd:element name="ActionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreatDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="CreateBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GenerateTime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsExternalEmailIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LastModifiedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LastModifiedDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="ReportCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ScheduleDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ScheduleType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Subscription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UserTimeZone" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
