src/main/resources/dtoSchemas/eqm/RestrictedUseLabelHistory_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="RestrictedUseLabelHistory_V1">
    <xsd:sequence>
      <xsd:element name="RestrictedUseLabelEndDtGmt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="RestrictedUseLabelName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RestrictedUseLabelStartDtGmt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="RestrictedUseLabelType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
