src/main/resources/dtoSchemas/eqm/RestrictedUseLabelRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="RestrictedUseLabelRequest_V1">
    <xsd:sequence>
      <xsd:element name="CreateDateFrom" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="CreateDateTo" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="CreateUserID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LabelName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LabelType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
