src/main/resources/dtoSchemas/eqm/RUEquipmentDetails_V1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">	<xsd:include schemaLocation="RUEquipment_V1.xsd"/>		<xsd:complexType name="RUEquipmentDetails_V1">		<xsd:sequence>			<xsd:element name="RUEquipment" type="RUEquipment_V1" minOccurs="0" maxOccurs="unbounded"/>			<xsd:element name="TotalMatchedRows" type="xsd:int" minOccurs="0" maxOccurs="1"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>