src/main/resources/dtoSchemas/eqm/SaleLocation_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:include schemaLocation="Contact_V1.xsd"/>

  <xsd:complexType name="SaleLocation_V1">
    <xsd:sequence>
      <xsd:element name="ActionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuthDtlId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Contact" type="Contact_V1" minOccurs="0"/>
      <xsd:element name="ExtractAddressName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SaleLocationCity" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SaleLocationCityId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SaleLocationId" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
