src/main/resources/dtoSchemas/eqm/SearchRU_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:complexType name="SearchRU_V1">
		<xsd:sequence>
			<xsd:element name="FacilityCode" type="xsd:string"/>
			<xsd:element name="Carrier" type="xsd:string"/>
			<xsd:element name="EquipmentType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EquipmentSizeType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EquipmentNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FullOrEmpty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EquipmentCondition" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EquipmentSubCondition" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RestrictedUseLabelType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RestrictedUseLocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RestrictedUseLocationType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RestrictedUseLabelName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StartRow" type="xsd:int"/>
			<xsd:element name="PageSize" type="xsd:int"/>
			<xsd:element name="NumOfIncomingDay" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>