src/main/resources/dtoSchemas/eqm/SearchLeaseContractCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="SearchLeaseContractCriteria_V1">
    <xsd:sequence>
      <xsd:element name="AuthorizationNo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractNo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractSubType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EffectiveDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="ExpiryDate" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="ExtAuthorizationRef" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ExtContractRef" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OwnType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PartnerId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SizeType" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
