src/main/resources/dtoSchemas/eqm/SupplierContact_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:include schemaLocation="City_V1.xsd"/>
  <xsd:include schemaLocation="SupplierContactChannel_V1.xsd"/>

  <xsd:complexType name="SupplierContact_V1">
    <xsd:sequence>
      <xsd:element name="AddressName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="City" type="City_V1" minOccurs="0"/>
      <xsd:element name="RegionCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactAddress" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactPerson" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContactPurpose" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Email" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SupplierContactChannel" type="SupplierContactChannel_V1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
