src/main/resources/dtoSchemas/eqm/SupplierProfile_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>
  <xsd:include schemaLocation="SupplierContact_V1.xsd"/>

  <xsd:complexType name="SupplierProfile_V1">
    <xsd:sequence>
      <xsd:element name="Addresses" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Contacts" type="SupplierContact_V1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="LongName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SupplierTypes" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
      <xsd:element name="ValidationResult" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
