src/main/resources/dtoSchemas/eqm/TerminateEquipment_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
  <xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/UpdateResult_V1.xsd"/>

  <xsd:complexType name="TerminateEquipment_V1">
    <xsd:sequence>
      <xsd:element name="AuthNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CheckDigit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreateBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreateDtGmt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EqpType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EventDateTime" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="EventType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FacCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GateOutDateTime" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="InvoiceNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PicVersionNum" type="xsd:long"/>
      <xsd:element name="PurchaseParty" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SaleNature" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SalePrice" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SaleRef" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalLossRef" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateClientId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDtGmt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="UpdateResult" type="common:UpdateResult_V1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
