src/main/resources/dtoSchemas/eqm/UsagePlanShipmentInfo_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
  <xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>

  <xsd:complexType name="UsagePlanShipmentInfo_V1">
    <xsd:sequence>
      <xsd:element name="ActionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreationDt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="FromCityID" type="xsd:long"/>
      <xsd:element name="FromCityName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MileStoneType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MtyAvailLocCityID" type="xsd:long"/>
      <xsd:element name="MtyAvailLocCityName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MtyAvailLocDt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="MtyAvailLocFacCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ShipmentInfoID" type="xsd:long"/>
      <xsd:element name="ShipmentNum" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ToCityID" type="xsd:long"/>
      <xsd:element name="ToCityName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDt" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      <xsd:element name="UpdatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UsagePlanID" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
