src/main/resources/dtoSchemas/eqm/UsagePlanRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.eqm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:iodt="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.eqm" elementFormDefault="qualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/CommonRestrictions_V1.xsd"/>
  	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../dtoSchemas/common/BasicLocationInformation_V1.xsd"/>
	<xsd:complexType name="UsagePlanRequest_V1">
		<xsd:sequence>
			<xsd:element name="ContractNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrentShipmentRef" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CycleStatusCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CycleTypeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DateCriteriaBegin" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="DateCriteriaEnd" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="DateCriteriaType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EqpNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EqpSizeType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExtPickupAuthNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirstPickType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirstPickValueCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlowInstructionCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LastDropType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LastDropValueCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LastEventType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PendConfirm" type="xsd:boolean"/>
			<xsd:element name="PendMatch" type="xsd:boolean"/>
			<xsd:element name="PendRhubConfirm" type="xsd:boolean"/>
			<xsd:element name="PickupAuthNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QuotaCounterStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RequireDetail" type="xsd:boolean"/>
			<xsd:element name="SupplierId" type="xsd:long"/>
			<xsd:element name="UsagePlanID" type="xsd:long"/>
			<xsd:element name="UsagePlanNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PossibleDropoffDT" type="iodt:FWAbsoluteDateTimeDTO" minOccurs="0"/>
      			<xsd:element name="ReuseHubIndicator" type="common:ID_LongNumeric_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Represents the reuse hub Indicator</xsd:documentation>
				</xsd:annotation>
      			</xsd:element>
			<xsd:element name="CurrentLocationType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrentLocationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BookingNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SVVD" type="xsd:string" minOccurs="0"/>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
