src/main/resources/dtoSchemas/shipment/BookingReference_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.shipment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.shipment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="BookingReferenceType_V1.xsd"/>
	<xsd:include schemaLocation="ShipmentNumber_V1.xsd"/>
	<xsd:complexType name="BookingReference_V1">
		<xsd:annotation>
			<xsd:documentation>This represents Booking Reference Info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceNumber" type="ShipmentNumber_V1">
				<xsd:annotation>
					<xsd:documentation>This represents Booking Reference Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReferenceType" type="BookingReferenceType_V1">
				<xsd:annotation>
					<xsd:documentation>This represents Booking Reference Type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>