src/main/resources/dtoSchemas/shipment/PackageReference_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Jeffrey Feliciano (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.shipment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommitStatus_V1.xsd"/>
	<xsd:include schemaLocation="Route_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/TrafficMode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/TradeLaneCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/TradeCode_V1.xsd"/>
	<xsd:complexType name="PackageReference_V1">
		<xsd:annotation>
			<xsd:documentation>Common base attributes of a package</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommitStatus" type="CommitStatus_V1" minOccurs="0"/>
			<xsd:element name="OutboundTrafficModeName" type="common:TrafficModeName_V1" minOccurs="0"/>
			<xsd:element name="InboundTrafficModeName" type="common:TrafficModeName_V1" minOccurs="0"/>
			<xsd:element name="Route" type="Route_V1" minOccurs="0"/>
			<xsd:element name="TradeLaneAbbreviation" type="tnm:TradeLaneCode_V1" minOccurs="0"/>
			<xsd:element name="TradeCode" type="tnm:TradeCode_V1" minOccurs="0"/>
			<xsd:element name="Broker" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of a shipment broker - free form text</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="common:BasicDescription_V1">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
