src/main/resources/dtoSchemas/dashboard/DSH_PlugInActivityPlan_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Hamilton Sum (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.dashboard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" xmlns:fwk="http://com.oocl.frm.common.date.dto/" xmlns:task="http://com.oocl.schema/task" xmlns:dsh="http://com.oocl.schema.dashboard" targetNamespace="http://com.oocl.schema.dashboard" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="DSH_CommonTypes_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/StringKeyValuePair_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="Escalation_V1.xsd"/>
	<xsd:element name="DSH_PlugInActivityPlan" type="dsh:DSH_PlugInActivityPlan_V1">
		<xsd:annotation>
			<xsd:documentation>This represents DSH_PluginActivityPlan_V1 information </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DSH_PlugInActivityPlan_V1">
		<xsd:annotation>
			<xsd:documentation>This schema defines the structure of the "DSH_PluginActivityPlan_V1" message that is generated by AM Transformer engine. This schema acts as a glue between Task/Exception/Notification messages
			sent by existing applications using DashBoard 2.0. This schema will provide input to Dashboard PlugIn to help build
			context and to create ActivityPlan message for Activity Lifecycle Manager.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ApplicationCorrelationInfo" type="cmn:NonStructuredText_V1">
				<xsd:annotation>
					<xsd:documentation>Normally this would be business key. This can be any additional information for co-relation ex. ShipmentNumber+ContainerNumber
						</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Group" type="dsh:ActivityGroup_V1" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Grouping of activities - for example Shipment, Agreement etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Code" type="dsh:ActivityCode_V1" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Some form of a code - for ex: BKG_APPRV</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="dsh:ActivityType_V1" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of activity (Task, Exception or Notification)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlannedDateTime" type="fwk:FWAbsoluteDateTimeDTO" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The planned date time in UTC to finish some action.Used in Exception messages </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DetectionDateTime" type="fwk:FWAbsoluteDateTimeDTO" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The date time in UTC that the expected action has not been done is detected.Used in Exception messages</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditionalInformationList" type="DSH_PlugInAdditionalFieldList_V1" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The list of Key/value pairs of information that can be used by AM PlugIn. These were previously elements in TaskRequestMessage, ExceptionRequestMessage and NotificationRequestMessage
						The keys are "MilestoneName", "Instruction", "ReplyAddress", "ReplyCorrelatedData",
						"EventLocationType", "EventLocationMasterID", "SenderID", "MessageSubject" and "MessageContent"
						</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TaskFieldList" type="dsh:TaskFieldListType" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The list of Name - Value pairs of the task which will be displayed in the To-Do List View and/or used in task assignment.
Only the field name "conatinerNumber" and "containerCheckDigit" are optional.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientList" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of user ID of the recipients. It is required only when specific recipient(s) are designated by the sender. Otherwise, it can be omitted and the Dashboard will base on the task profiles and the data mentioned in TaskFieldList to find out the  recipient(s). Used in Notification messages</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RecipientID" type="xsd:string" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>The user ID of the recipient.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HandlingOfficeList" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of office code of handling offices. It is required only when specific handling office(s) are designated by the sender. Otherwise, it can be omitted and the Dashboard will base on the task profiles and the data mentioned in TaskFieldList to find out the handling office(s). Used in Notification messages</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="HandlingOfficeCode" type="cmn:EntityCode_V1" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>The office code of handling office.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActivityDueDate" type="fwk:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>When should this activity be completed - Note: This is in GMT and is NOT relative to which office </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Priority" type="dsh:ActivityPriority_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Priority of this activity - Currently at the schema level this is limited to 10 levels</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EscalationLevel" type="dsh:EscalationLevel_V1">
				<xsd:annotation>
					<xsd:documentation>What is the level of escalation now? If this is not an escalation then set level to be 0 - Currently we are limiting levels of escalation to 3. The model can supported unlimited number of levels of escalation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActivityDefinitionVersion" type="dsh:ActivityDefinitionVersion_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Version of definition to be used - Note: If this is not present, the latest version will always be used</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortDescription" type="dsh:ShortDescription_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Desription to show on screen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestorID" type="dsh:ActivityCreatorID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identity of application sending the activity request message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Remark" type="dsh:Remarks_V1" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional remark for this action.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Exception" type="dsh:ExceptionInformation_V1" nillable="true" minOccurs="0"/>
			<xsd:element name="Status" type="dsh:ActivityPlanStatus_V1">
				<xsd:annotation>
					<xsd:documentation>Status for this Task/Exception/Notification(New, Update, Completed, Cancelled)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
