src/main/resources/dtoSchemas/dashboard/SkillGroupUpdate_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.dashboard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.dashboard" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="SkillGroupUpdate" type="SkillGroupUpdate_V1">
		<xsd:annotation>
			<xsd:documentation>Root element for skill group update message from AOR to RTM BW.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SkillGroupUpdate_V1">
		<xsd:annotation>
			<xsd:documentation>Elements for skill group update message from AOR to RTM BW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SkillGroupID" type="xsd:long" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of ID of the skill group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
