src/main/resources/dtoSchemas/tnm/RateBuilder/AmbiguousSurchargeEliminationCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Orlando Palis (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../OceanRate_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="AmbiguousSurchargeEliminationCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Represents criteria for ambiguous surcharge elimination by selected load and/or discharge ports</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SelectedLoadPorts" type="common:EntityLocationName_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of selected load ports</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SelectedDischargePorts" type="common:EntityLocationName_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of selected discharge ports</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BaseRate" type="tnm:OceanRate_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Base (ocean) rate containing the rates and guideline surcharges used in the surcharge elimination process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
