src/main/resources/dtoSchemas/tnm/RateBuilder/BaseRate_PricingMetricsCosts_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by SNT (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="PricingMetricsCostInfo_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="BaseRate_PricingMetricsCosts_V1">
		<xsd:annotation>
			<xsd:documentation>IRIS2-CP generates this message whenever there is BASE_RATE Pricing metrics cost information available</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BaseRate_ID" type="common:ID_LongNumeric_V1">
				<xsd:annotation>
					<xsd:documentation>This is the Base Rate Unique ID which is equivalent to RGM_BASE_RATE.BASE_RATE_ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PricingMetricsInfos" type="PricingMetricsCostInfo_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Holds the Pricing metrics cost information for the base rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BaseRate_PricingMetricsCosts" type="BaseRate_PricingMetricsCosts_V1">
		<xsd:annotation>
			<xsd:documentation>This element is needed for java object creation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
