src/main/resources/dtoSchemas/tnm/RateBuilder/FormulaGroupResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Hamilton Sum (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UpdateResult_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="FormulaGroupResult_V1">
		<xsd:annotation>
			<xsd:documentation>A complex type that represents the result of an updated group of rate formulas applied to an OceanRate for the purpose of deriving rates for different container dimensions and guideline levels.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Result" type="common:UpdateResult_V1">
				<xsd:annotation>
					<xsd:documentation>
						Represents success status and errors, if any, during the update process.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroupName" type="common:ID_String_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						GroupName that the particular group Rate Formulas belongs to.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
