src/main/resources/dtoSchemas/tnm/RateBuilder/PricingMetricsDetail_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Orlando Palis (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="PricingMetricsRateContributionInfo_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../OceanRate_V1.xsd"/>	
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="PricingMetricsDetail_V1">
		<xsd:annotation>
			<xsd:documentation>Represents pricing metric details for a base rate.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BaseRateID" type="common:ID_LongNumeric_V1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The ID of the base rate for which the pricing metrics is setup.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="BaseRateLevelContribution" type="PricingMetricsRateContributionInfo_V1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The base rate level contribution information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SplitRateLevelContributions" type="PricingMetricsRateContributionInfo_V1" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The split rate level contribution information. As the base rate will be split into multiple sub-rates based on location point-pair, cargo nature and container type group, contributions are setup for each split accordingly.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
