src/main/resources/dtoSchemas/tnm/RateBuilder/PricingMetricsDetailSearchResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Orlando Palis (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="PricingMetricsDetail_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UpdateResult_V1.xsd"/>
	<xsd:complexType name="PricingMetricsDetailSearchResult_V1">
		<xsd:annotation>
			<xsd:documentation>Represents search result containing pricing metrics details and search validation result information.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PricingMetricsDetails" type="PricingMetricsDetail_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of Pricing Metrics Details.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Result" type="common:UpdateResult_V1">
				<xsd:annotation>
					<xsd:documentation>Search validation result information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
