src/main/resources/dtoSchemas/tnm/RateBuilder/PublishingHistorySearchResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by HSINGFU (Orient Overseas Container Line Ltd) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../OceanRate_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../InlandTariff_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UpdateResult_V1.xsd"/>
	<xsd:complexType name="PublishingHistorySearchResult_V1">
		<xsd:annotation>
			<xsd:documentation>Represents an ocean rate search result containing ocean rates and search validation result information. The element names dtoList and errorDTO are required by framework for enabling paging.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OceanRateStrings" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of matching ocean rates</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InlandRateStrings" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of matching inland rates</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InlandTariffs" type="tnm:InlandTariff_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Result" type="common:UpdateResult_V1" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Search validation result information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
