src/main/resources/dtoSchemas/tnm/RateBuilder/RateReportDetail_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Kent Williamson (OOCL (USA) INC) -->
<!--  Created Oct 10, 2007  -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.ratebuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.ratebuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xsd:include schemaLocation="RateReportLevel_V1.xsd"/>

  <xsd:complexType name="RateReportDetail_V1">
    <xsd:annotation>
      <xsd:documentation>RateReport object, represents elements of a rate not related to authority level</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RateId" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="RateType" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="FormulaGroupId" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="SchrgOverrideGroup" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="OriginId" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="DestinationId" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="Rates" type="RateReportLevel_V1" nillable="true" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Currency" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="Mode" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="CargoNature" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="SpecialEquipment" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="WeightGroup" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="CommodityGroup" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="EffStartDate" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="EffEndDate" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="Notes" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="InclusiveSurcharges" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
      <xsd:element name="RatePC" type="xsd:string" nillable="true" minOccurs="0">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>

