src/main/resources/dtoSchemas/customer/callerid/CallerID_AssociationRequest_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.customer.callerid" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:framework="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.customer.callerid" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Company_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:include schemaLocation="CustomerCallerID_Association_V1.xsd"/>
	<xsd:simpleType name="CallerID_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This is a simple type that defines Caller ID.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CallerID_AssociationRequest_V1">
		<xsd:sequence>
			<xsd:element name="CallEntryOffice" type="common:OfficeCode_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
	                    This is Entry Office of the call.
	                </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallerID" type="CallerID_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
	                    This is Caller ID.
	                </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerCallerID_AssociationType" type="CustomerCallerID_AssociationType_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
	                    This is type of Customer Caller ID Association Information.
	                </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestType" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the type to determine the request is for routing or during call search.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
