src/main/resources/dtoSchemas/customer/callerid/CustomerCallerID_UsageTracking_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.customer.callerid" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:framework="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.customer.callerid" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:include schemaLocation="CustomerCallerID_Association_V1.xsd"/>
	<xsd:complexType name="CustomerCallerID_UsageTracking_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Customer Caller Id Repository Usage Tracking data.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InteractionDateTimeGmt" type="framework:FWAbsoluteDateTimeDTO" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is a simple type that defines the Interaction (Call) datetime.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallerID" type="CustomerCallerID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Customer Caller ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntryOffice" type="common:OfficeCode_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Call Entry Office.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntryHotline" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Entry Hotline.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HandledOffice" type="common:OfficeCode_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Call Handled Office.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumSuggestedSAPID" type="xsd:int" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Number of SAP ID Suggested.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerSearch" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the flag for indicate performed Customer Search or not.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerSearchAddAsso" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the flag for indicate performed Customer Search and selected the Add Association option.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PressCancel" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the flag for indicate Pressed Cancel on Suggested Customer form or not.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumInvolvedSAPID" type="xsd:int" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Number of SAP ID involved.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FirstSAPID" type="common:SAP_ID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is First involved SAP ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastSAPID" type="common:SAP_ID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Last involved SAP ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SAPID_List" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Full list of involved SAP ID, separate by ;, max 20.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="220"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>