src/main/resources/dtoSchemas/customer/callerid/ThirdPartyCallerID_Association_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.customer.callerid" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:framework="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.customer.callerid" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Company_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:include schemaLocation="CustomerCallerID_Association_V1.xsd"/>
	<xsd:include schemaLocation="CallerID_AssociationRequest_V1.xsd"/>
	<xsd:complexType name="ThirdPartyCallerID_Association_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Customer Caller Id Association datatype contains UUID, Customer Caller ID, SAP ID, CargoSmart ID, etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CallerID_RefUUID" type="common:Global_UUID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the UUID of the Third Party Caller Id Association.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ThirdPartyCallerID" type="CallerID_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Third Party Caller ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallEntryOffice" type="common:OfficeCode_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Call Entry Office.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanyName" type="common:CompanyName_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Company Name of the Third Party.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the type of the Third Party.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsActive" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the flag for the Association is Active not Inactive.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreateBy" type="CreateUpdateParty_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the party who create the association.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreateDateTimeGmt" type="framework:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is a simple type that defines the association create datetime.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreateClientID" type="CreateUpdateClientID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Client ID that create the association.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateBy" type="CreateUpdateParty_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the party who update the association.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateDateTimeGmt" type="framework:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is a simple type that defines the association last update datetime.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateClientID" type="CreateUpdateClientID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Client ID that update the association.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
