src/main/resources/dtoSchemas/common/tsm/VoyagePlan_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Kalyan (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common.tsm" xmlns:common="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.common.tsm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/BasicVoyageLookup_V1.xsd"/>
	<!--xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/OceanTransport_V1.xsd"/-->
	<xsd:include schemaLocation="VoyageStopActivity_V1.xsd"/>
	<xsd:element name="VoyagePlan_V1" type="VoyagePlan_V1">
		<xsd:annotation>
			<xsd:documentation>This represents Voyage Plan for the Voyage</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VoyagePlan_V1">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>This represents Voyage Plan generates domain state change event whenever any part of VSL_SAILING_SCHEDULE data changes (insert, update, delete)</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="VoyageID" type="common:UUID_V1">
				<xsd:annotation>
					<xsd:documentation>This represents the Unique ID of Voyage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VoyageInformation" type="common:BasicVoyageLookup_V1">
				<xsd:annotation>
					<xsd:documentation>Basic voyage search information - Service Loop abbreviation, vessel code, voyage number and direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="OceanTransport" type="common:ID_String_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ways of moving cargo via ocean means.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatorCode" type="common:ID_String_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This represents the company operates vessel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="VoyageStopActivities" type="VoyageStopActivity_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This represents the collection of voyage stop activities</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
