src/main/resources/dtoSchemas/tnm/agreementbuilder/AB_Event_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="AB_Event_V1">
		<xsd:annotation>
			<xsd:documentation>This event is generated when the rate or service of an agreement changes (insert, update, delete)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemOID" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>This is the unique ID of an AB rate/service item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type">
				<xsd:annotation>
					<xsd:documentation>Can be either rate or service event</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="RATE"/>
						<xsd:enumeration value="SERVICE"/>
						<xsd:enumeration value="AF"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AgreementID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ItemID" type="xsd:int" minOccurs="0"/>
			<xsd:element name="PreviousOID" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AB_Event" type="AB_Event_V1"/>
</xsd:schema>
