src/main/resources/dtoSchemas/tnm/agreementbuilder/CollectiveActivationSetting_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CardinalDirection_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../TradeLaneCode_V1.xsd"/>
	<xsd:complexType name="CollectiveActivationSetting_V1">
		<xsd:annotation>
			<xsd:documentation>Offer item collective activation setting</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TradeLane" type="tnm:TradeLaneCode_V1">
				<xsd:annotation>
					<xsd:documentation>Tradelane code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" type="common:CardinalDirectionName_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsCASet" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Do collective activation or not</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
