src/main/resources/dtoSchemas/tnm/agreementbuilder/DDChargeRule_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by HUJI (Orient Overseas Container Line Ltd) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:fw="http://com.oocl.frm.common.date.dto/" xmlns:eqm="http://com.oocl.schema.eqm" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Currency_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../PricingTransportMode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../SurchargeType_V1.xsd"/>
	<xsd:include schemaLocation="ServiceSimpleTypes_V1.xsd"/>
	<xsd:complexType name="DDFreeTime_V1">
		<xsd:sequence>
			<xsd:element name="FreeDays" type="xsd:string"/>
			<xsd:element name="QuantityRange" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDFreeTimeSpec_V1">
		<xsd:sequence>
			<xsd:element name="DayType" type="DayType_V1"/>
			<xsd:element name="FreeTimeType" type="DDFreeTimeType_V1"/>
			<xsd:element name="FreeTimes" type="DDFreeTime_V1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDChargeRate_V1">
		<xsd:sequence>
			<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Percentage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DayRange" type="xsd:string"/>
			<xsd:element name="IsPerContainer" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDChargeRateSpec_V1">
		<xsd:sequence>
			<xsd:element name="ChargeRateType" type="DDChargeRateType_V1"/>
			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChargeRates" type="DDChargeRate_V1" maxOccurs="unbounded"/>
			<xsd:element name="SurchargeCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDChargeSpec_V1">
		<xsd:sequence>
			<xsd:element name="SpecID" type="xsd:int"/>
			<xsd:element name="CargoNaturesID" type="xsd:int"/>
			<xsd:element name="IsSOC" type="xsd:boolean"/>
			<xsd:element name="ContainerSizes" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContainerTypes" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IMOClasses" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UNNumbers" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TransportTypes" type="tnm:PricingTransportMode_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FreeTime" type="DDFreeTimeSpec_V1" minOccurs="0"/>
			<xsd:element name="ChargeRate" type="DDChargeRateSpec_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDChargeRule_V1">
		<xsd:sequence>
			<xsd:element name="DDType" type="DDType_V1"/>
			<xsd:element name="Indicators" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>1 - isCarrier
2 - isMerchant
3 - isOutbound
4 - isInbound
5 - isInTransit
6 - isReceivable
7 - isCollectible
8 - isGeneral</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Locations" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ChargeSpecs" type="DDChargeSpec_V1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
