src/main/resources/dtoSchemas/tnm/agreementbuilder/MassUpdateResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="MassUpdateResult_V1">
		<xsd:annotation>
			<xsd:documentation>Mass update result</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MassUpdateRequestID" type="cmn:ID_LongNumeric_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mass update request ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsSuccessful" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Status of mass update request job submitted</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Exception" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Exception returned from server when submitting mass update request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
