src/main/resources/dtoSchemas/tnm/agreementbuilder/NamedCustomer_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="AB_OracleTypes_V1.xsd"/>
	<xsd:include schemaLocation="AB_SimpleTypes_V1.xsd"/>
	<xsd:complexType name="NamedCustomer_V1">
		<xsd:annotation>
			<xsd:documentation>Named customer for the quote</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SAP_IDs" type="SAP_ID_Collection_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BookingConditions" type="common:LongBasicDescription_V1" minOccurs="0"/>
			<xsd:element name="BL_Conditions" type="NamedCustomerBL_Conditions_V1">
				<xsd:annotation>
					<xsd:documentation>Defines how the named customer must be related to the BL in order for the rate to be valid.  See annotation on the simple type for more details.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
