src/main/resources/dtoSchemas/tnm/agreementbuilder/ProximityCheckCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Kent Williamson (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:fwd="http://com.oocl.frm.common.date.dto/" xmlns:ns1="http://com.oocl.schema.customer" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="OceanOfferRate_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer" schemaLocation="../../customer/Customer_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="ProximityCheckCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Search criteria for the proximity check operations</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OfferRatesToCheck" type="OceanOfferRate_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>OfferRates to check.  Data used are origins and destinations.  ObjectID is used only to map to the resulting matches in ProximityCheckResult_V1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SAP_IDs" type="common:SAP_ID_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Restricts matching rates to agreements having one or more of these Customer SapIDs in the shipping parties or in the named custmers lists</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
