src/main/resources/dtoSchemas/tnm/agreementbuilder/SaveSentOfferParameter_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="SaveOfferItemInfo_V1">
		<xsd:annotation>
			<xsd:documentation>Offer item oid and lockstamp used for optimistic lock checking</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemOID" type="xsd:long"/>
			<xsd:element name="LockStamp" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SaveSentOfferParameter_V1">
		<xsd:annotation>
			<xsd:documentation>Save sent offer parameter passed onto server</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SentOfferXML" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Sent offer XML</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgreementOID" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Agreement OID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Rates" type="SaveOfferItemInfo_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of rates included in the offer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Services" type="SaveOfferItemInfo_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of services included in the offer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
