src/main/resources/dtoSchemas/tnm/agreementbuilder/SaveSentOfferResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="SaveSentOfferResult_V1">
		<xsd:annotation>
			<xsd:documentation>Result return when saving an offer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectID" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sent offer object ID returned, if save successful</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Exception" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Exception message returned from server, if any</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsSuccessful" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicator if save is successful</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
