src/main/resources/dtoSchemas/tnm/agreementbuilder/SearchMassUpdateCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:ir2cp="http://com.oocl.schema.iris2cp" xmlns:fwd="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../AgreementReference_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UserID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.iris2cp" schemaLocation="../../iris2cp/CP_CargoNature_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../TariffCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../TradeLaneDirection_V1.xsd"/>
	<xsd:include schemaLocation="AB_SimpleTypes_V1.xsd"/>
	<xsd:complexType name="SearchMassUpdateCriteria_V1" >
		<xsd:annotation>
			<xsd:documentation>AB Rate search criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Requestor" type="common:UserID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>User id of the requestor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserDefinedRefID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>User defined ID for the mass update request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description given at the time of mass update request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
