src/main/resources/dtoSchemas/tnm/agreementbuilder/SentOffer_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UserID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../AgreementID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../AgreementVersion_V1.xsd"/>
	<xsd:include schemaLocation="AB_OracleTypes_V1.xsd"/>
	<xsd:include schemaLocation="AB_SimpleTypes_V1.xsd"/>
	<xsd:simpleType name="SentOfferStatus_V1">
		<xsd:annotation>
			<xsd:documentation>Sent offer status</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Initial</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Sending</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>Sent</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>Failed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>Incomplete</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation>Submitting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation>Resending</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation>SubmittedForFiling</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SentOfferRemarkType_V1">
		<xsd:annotation>
			<xsd:documentation>Sent offer remark type: 1 - General/Regional; 2 - Additional</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>General/region remarks</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Additional remarks</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>Note</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>Not Defined 1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>Not Defined 2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SentOfferRemark_V1">
		<xsd:annotation>
			<xsd:documentation>Sent offer remark</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="SentOfferRemarkType_V1">
				<xsd:annotation>
					<xsd:documentation>1 - General/Regional
2 - Additional
3 - Note</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Text" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SentOffer_V1">
		<xsd:annotation>
			<xsd:documentation>Sent offer record.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectID" type="common:ID_LongNumeric_V1">
				<xsd:annotation>
					<xsd:documentation>System generated unique id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MCCIID" type="common:ID_String_V1">
				<xsd:annotation>
					<xsd:documentation>Sent offer uuid generated by MCCI server</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgreementID" type="tnm:AgreementID_V1">
				<xsd:annotation>
					<xsd:documentation>Agreement ID that is involved in the offer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgreementVersion" type="tnm:AgreementVersion_V1">
				<xsd:annotation>
					<xsd:documentation>Agreement version that is involved in the offer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OfferID" type="common:ID_String_V1">
				<xsd:annotation>
					<xsd:documentation>Unique ID consists of year plus a running number. Format: yy-nnn, where yy is last two digits of year, nnn is offer running number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OceanOfferRateOIDs" type="common:ID_LongNumeric_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of ocean rate ids included in the offer sent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InlandOfferRateOIDs" type="common:ID_LongNumeric_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of inland rate ids included in the offer sent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceOfferOIDs" type="common:ID_LongNumeric_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of service item ids included in the offer sent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerSAP_IDs" type="common:SAP_ID_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of customers involved in the rates in the offer sent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SentTime" type="AB_DateTime_V1">
				<xsd:annotation>
					<xsd:documentation>Date time the offer sent to customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SentBy" type="common:UserID_V1">
				<xsd:annotation>
					<xsd:documentation>Sent by user ID.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SentOffice" type="common:OfficeCode_V1">
				<xsd:annotation>
					<xsd:documentation>Sent office code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SentStatus" type="SentOfferStatus_V1">
				<xsd:annotation>
					<xsd:documentation>Sent offer status.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryContact" type="common:UserID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary contact for the offer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SentException" type="common:BasicDescription_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Exception message if sent failed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Remarks" type="SentOfferRemark_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of remarks used in the offer sent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Flags" type="OptionFlags_V1">
				<xsd:annotation>
					<xsd:documentation>Bit maps:
1 - RegulatedRate
2 - IsSvcOfferDoc</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SentOffer" type="SentOffer_V1"/>
</xsd:schema>
