src/main/resources/dtoSchemas/tnm/agreementbuilder/ServiceOfferDoc_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by HUJI (Orient Overseas Container Line Ltd) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm.agreementbuilder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm.agreementbuilder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="DDServiceForDoc_V1.xsd"/>
	<xsd:complexType name="ServiceOfferDoc_V1">
		<xsd:annotation>
			<xsd:documentation>Service offer info to be printed in offer doc</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectID" type="xsd:long"/>
			<xsd:element name="ServiceID" type="xsd:string"/>
			<xsd:element name="ServiceType" type="xsd:string"/>
			<xsd:element name="EffectiveFrom" type="xsd:string"/>
			<xsd:element name="EffectiveTo" type="xsd:string"/>
			<xsd:element name="Tariffs" type="xsd:string"/>
			<xsd:element name="TrafficMode" type="xsd:string"/>
			<xsd:element name="Origins" type="xsd:string"/>
			<xsd:element name="isTariffOrigins" type="xsd:string"/>
			<xsd:element name="Destinations" type="xsd:string"/>
			<xsd:element name="isTariffDestinations" type="xsd:string"/>
			<xsd:element name="CargoNatures" type="xsd:string"/>
			<xsd:element name="CargoNaturesDesc" type="xsd:string"/>
			<xsd:element name="Commodity" type="xsd:string"/>
			<xsd:element name="ServiceDesc" type="xsd:string"/>
			<xsd:element name="ServiceRemarks" type="xsd:string"/>
			<xsd:element name="ApplicableRateIds" type="xsd:string"/>
			<xsd:element name="DDService" type="DDServiceForDoc_V1" minOccurs="0"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NotesForSimpleEmail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FootNoteForRemarksForExcel" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ServiceOfferDoc" type="ServiceOfferDoc_V1"/>
</xsd:schema>
