src/main/resources/dtoSchemas/shipment/sep/DateOffsetRule_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Narasimha Puvvada (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment.sep" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.shipment.sep" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="DateOffsetRule_V1">
		<xsd:annotation>
			<xsd:documentation>This represents the rule for calculating date offset</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceField" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a field in shipment (eg. CARGO_CUTOFF, DOOR_APPOINTMENT) or a milestone name. This is from the Milestone Template.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilestoneDateType" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference Date type like PLANNED or ACTUAL. This is from the template.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OffsetInMinutes" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>offset value in Minutes like before or after of the reference date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
