src/main/resources/dtoSchemas/shipment/sep/MilestoneActivity_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by VIJAY KODALI (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment.sep" xmlns:common="http://com.oocl.schema.common" xmlns:shipment="http://com.oocl.schema.shipment" xmlns:frm="http://com.oocl.frm.common.date.dto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.shipment.sep" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.shipment" schemaLocation="../../shipment/PackageReferenceCode_V1.xsd"/>
	<xsd:include schemaLocation="DateOffsetRule_V1.xsd"/>
	<xsd:include schemaLocation="Activity_V1.xsd"/>
	<xsd:element name="MilestoneActivity_V1" type="MilestoneActivity_V1">
		<xsd:annotation>
			<xsd:documentation>Milestone Plan for a Milestone of shipment or container</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MilestoneActivity_V1">
		<xsd:annotation>
			<xsd:documentation>Milestone Plan for a Milestone of shipment or container</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceCode" type="shipment:PackageReferenceCode_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is Container Package Reference Code which is equivalent to CONTAINER_PACKAGE.INTERNAL_SHMT_NUM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilestoneCode" type="common:ID_String_V1">
				<xsd:annotation>
					<xsd:documentation>This represents the milestone name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UUID" type="common:UUID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is the Container Package Unique ID which is equivalent to CONTAINER_PACKAGE.PACKAGE_UUID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsCompleted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of the milestone like met or not met</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateDate" type="frm:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual Date of milestone met.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlannedDate" type="frm:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Planned Date of milestone .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocationID" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>location id of milestone .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DueDate" type="frm:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Milestone due date.Calculated based on due date rule</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DueDateRule" type="DateOffsetRule_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>These are rules to calculate the duedate.Value from milestoneTemplate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndMonitoringRule" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>May be required to end the monitoring of the milestones.Values from MilestoneTemplates.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DependentMilestones" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Collection of milestone names. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Activity" type="Activity_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This represents the activity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsCancelled" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of the milestone that is cancelled</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
