src/main/resources/dtoSchemas/shipment/sep/SEP_App_Error_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.shipment.sep" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.shipment.sep" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="SEP_App_Error_V1">
		<xsd:annotation>
			<xsd:documentation>This represents the detail information of messages that will be published to EMS Exception Queue</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OccurredOn" type="xsd:dateTime" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This represents the date and time when the error encountered</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ID" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is the Event Label ID that being processed at the time the error encountered</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Type" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This represents the message type, possible values are error, warning, info, debug </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Code" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This represents the message code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Message" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This represents the description of message</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="StackTrace" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This represents some of error descriptions in the stack trace</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
