src/main/resources/dtoSchemas/shipment/sep/ShipmentPlan_V1.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2007 (http://www.altova.com) by Susmitha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.shipment.sep"
	 xmlns:common="http://com.oocl.schema.common"
	 xmlns:shipment="http://com.oocl.schema.shipment"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://com.oocl.schema.shipment.sep"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.shipment" schemaLocation="../../shipment/ShipmentNumber_V1.xsd"/>
	<xsd:include schemaLocation="MilestoneActivity_V1.xsd"/>
	<xsd:element name="ShipmentPlan_V1" type="ShipmentPlan_V1">
		<xsd:annotation>
			<xsd:documentation>This represents Shipment Plan for the Shipment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShipmentPlan_V1">
		<xsd:annotation>
			<xsd:documentation>This represents Shipment Plan for the Shipment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UUID" type="common:UUID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is the Shipment Unique ID which is equivalent to TRCKG_GRP.TRCKG_GRP_UUID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShipmentNumber" type="shipment:ShipmentNumber_V1">
				<xsd:annotation>
					<xsd:documentation>This is the Shipment Number  which is equivalent to TRCKG_GRP.TRCKG_GRP_REF_CDE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShipmentStatus" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This represents the commit status of the shipment "Cancelled", "Confirmed", "No Show", "Pended", "PreBooking", "Rejected", "Terminated", "Wait Listed" </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilestoneActivities" type="MilestoneActivity_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This represents Milestone Activity for Shipement or Container</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>