src/main/resources/dtoSchemas/epa/AppointmentPickupInfo_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.epa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.epa" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="AppointmentPickupInfo_V1">
		<xsd:sequence>
			<xsd:element name="AppointmentPickupFacilityCode" type="common:EntityLocationCode_V1"/>
			<xsd:element name="AppointmentQuantity" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
