src/main/resources/dtoSchemas/epa/ContainerPickup_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Windy OR (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.epa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tns="http://com.oocl.frm.common.date.dto/" xmlns:ivr="http://com.oocl.schema.ivr" targetNamespace="http://com.oocl.schema.epa" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/OpZone_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/ShipmentNumber_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.ivr" schemaLocation="../ivr/CallerID_V1.xsd"/>
	<xsd:include schemaLocation="AppointmentID_V1.xsd"/>
	<xsd:include schemaLocation="UncondDetail_V1.xsd"/>
	<xsd:include schemaLocation="MatchingDetail_V1.xsd"/>
	<xsd:element name="ContainerPickup_V1">
		<xsd:annotation>
			<xsd:documentation>Define the event for ContainerPickup</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AppointmentID" type="AppointmentID_V1">
					<xsd:annotation>
						<xsd:documentation>Appointment ID</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BookingNumber" type="common:ShipmentNumber_V1">
					<xsd:annotation>
						<xsd:documentation>Booking number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Opzone" type="common:OpZone_V1">
					<xsd:annotation>
						<xsd:documentation>Opzone</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TimeZone" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Timezone</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EmptyPickupDateTimeGMT" type="tns:FWAbsoluteDateTimeDTO">
					<xsd:annotation>
						<xsd:documentation>Empty pickup datetime in GMT</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EmptyPickupDateTimeLocal" type="tns:FWAbsoluteDateTimeDTO">
					<xsd:annotation>
						<xsd:documentation>Empty pickup datetime in local</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AppointedQuantity" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Appointed quantity</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PickedupQuantity" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Picked up quantity</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AmendmentCount" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Number of amendment</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ContactNumber" type="ivr:CallerID_V1">
					<xsd:annotation>
						<xsd:documentation>Contact number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Version" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Version</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UncondDetails" type="UncondDetail_V1" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Uncond container details</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MatchingDetails" type="MatchingDetail_V1" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>RU container details</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Action">
					<xsd:annotation>
						<xsd:documentation>Action</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ActionParty">
					<xsd:annotation>
						<xsd:documentation>Action party</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ModifiedDatetimeGMT" type="tns:FWAbsoluteDateTimeDTO">
					<xsd:annotation>
						<xsd:documentation>Modified datetime in GMT</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
