src/main/resources/dtoSchemas/common/lookup/OrganizationLookupResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.common.lookup" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common.lookup" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../UpdateResult_V1.xsd"/>
	<xsd:include schemaLocation="OrganizationLookupElement_V1.xsd"/>
	<xsd:complexType name="OrganizationLookupResult_V1">
		<xsd:annotation>
			<xsd:documentation>Represents the organization look up search result containing organizations information and validation errors if any.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrganizationInformation" type="OrganizationLookupElement_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>common:Basic voyage information - Service Loop abbreviation, vessel code, voyage number and direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LookupResult" type="common:UpdateResult_V1">
				<xsd:annotation>
					<xsd:documentation>Search result information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
