src/main/resources/dtoSchemas/common/lookup/TimeZoneLabelLookUpElement_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Kalyan P (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common.lookup" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common.lookup" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../TimeZoneLabel_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../TimeZoneID_V1.xsd"/>

	<xsd:complexType name="TimeZoneLabelLookUpElement_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the Java TimeZone ID, Standard and daylight-saving timeZones name of a Timezone.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="common:TimeZoneID_V1">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the Java TimeZone ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Standard" type="common:TimeZoneLabel_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the Standard TimeZone.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Daylight" type="common:TimeZoneLabel_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the daylight-saving timezone.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
