src/main/resources/dtoSchemas/common/Address_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by David Li (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="Address_V1">
		<xsd:annotation>
			<xsd:documentation>Information about a structured address.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Line1" type="AddressLine_V1" minOccurs="0"/>
			<xsd:element name="Line2" type="AddressLine_V1" minOccurs="0"/>
			<xsd:element name="Line3" type="AddressLine_V1" minOccurs="0"/>
			<xsd:element name="Line4" type="AddressLine_V1" minOccurs="0"/>
			<xsd:element name="Line5" type="AddressLine_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AddressLine_V1">
		<xsd:annotation>
			<xsd:documentation>A line of address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>