src/main/resources/dtoSchemas/common/BasicFacilityInformation_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by David Li (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="Address_V1.xsd"/>
	<xsd:include schemaLocation="BasicLocationInformation_V1.xsd"/>
	<xsd:include schemaLocation="FacilityType_V1.xsd"/>
	<xsd:complexType name="BasicFacilityInformation_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the basic information of a facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LocationInformation" type="BasicLocationInformation_V1"/>
			<xsd:element name="FacilityType" type="FacilityType_V1"/>
			<xsd:element name="Address" type="Address_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
