src/main/resources/dtoSchemas/common/BasicLocationInformation_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="LocationCode_V1.xsd"/>
	<xsd:include schemaLocation="GeoLocationTypeString_V1.xsd"/>
	<xsd:include schemaLocation="LocationName_V1.xsd"/>
	<xsd:complexType name="BasicLocationInformation_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the basic information of a location.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="GeoLocationTypeString_V1" minOccurs="0"/>
			<xsd:element name="ID" type="ID_LongNumeric_V1" minOccurs="0"/>
			<xsd:element name="UUID" type="UUID_V1" minOccurs="0"/>
			<xsd:element name="Code" type="LocationCode_V1" minOccurs="0"/>
			<xsd:element name="Name" type="LocationName_V1" minOccurs="0"/>
			<xsd:element name="ParentID" type="ID_LongNumeric_V1" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
