src/main/resources/dtoSchemas/common/CityLevel_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="BasicLocationInformation_V1.xsd"/>
	<xsd:include schemaLocation="CountryDivision_V1.xsd"/>
	<xsd:include schemaLocation="GeoLocationType_V1.xsd"/>
	<xsd:include schemaLocation="PostalCode_V1.xsd"/>
	<xsd:include schemaLocation="ZIP_Code_V1.xsd"/>
	<xsd:complexType name="CityLevel_V1">
		<xsd:annotation>
			<xsd:documentation>Information about a city, district or suburb.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GeographicLocationType" type="GeoLocationType_V1" minOccurs="0"/>
			<xsd:element name="LocationInformation" type="BasicLocationInformation_V1" minOccurs="0"/>
			<xsd:element name="CountryDivision" type="CountryDivision_V1" minOccurs="0"/>
			<xsd:element name="PostalCode" type="ZIP_Code_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>