src/main/resources/dtoSchemas/common/CountryDivision_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="BasicLocationInformation_V1.xsd"/>
	<xsd:include schemaLocation="Country_V1.xsd"/>
	<xsd:complexType name="CountryDivision_V1">
		<xsd:annotation>
			<xsd:documentation>Information about a country subentity. A territorial division of a country.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CountryDivisionInformation" type="BasicLocationInformation_V1" minOccurs="0"/>
			<xsd:element name="TimezoneName" type="EntityBriefName_V1" minOccurs="0"/>
			<xsd:element name="Country" type="Country_V1" minOccurs="0"/>
			<xsd:element name="ParentDivisionInformation" type="BasicLocationInformation_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
