src/main/resources/dtoSchemas/common/District_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by David Li (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="City_V1.xsd"/>
	<xsd:include schemaLocation="CityLevel_V1.xsd"/>
	<xsd:include schemaLocation="LocationShippingAttribute_V1.xsd"/>
	<xsd:complexType name="District_V1">
		<xsd:annotation>
			<xsd:documentation>Information about a city district with shipping info.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DistrictInformation" type="CityLevel_V1"/>
			<xsd:element name="LocationShippingAttribute" type="LocationShippingAttribute_V1" minOccurs="0"/>
			<xsd:element name="City" type="CityLevel_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
