src/main/resources/dtoSchemas/common/EmailAddress_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="EmailAddress_V1">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
				A common Type for EmailAddress.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="EmailID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailType" type="EmailType_V1" default="Unspecified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="EmailType_V1">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Home"/>
			<xsd:enumeration value="Work"/>
			<xsd:enumeration value="Unspecified"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
