src/main/resources/dtoSchemas/common/GeoLocationSearchCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by David Li (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="GeoLocationSearchTypeString_V1.xsd"/>
	<xsd:complexType name="GeoLocationSearchCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Represents the geographical locations base search request with mandatory and optional search criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="ID_String_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An unique ID that identifies a geographical location. Max. length is 15.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UUID" type="UUID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An unique identifier to reference a geographical location in string format. Max. length is 20.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Codes" type="BasicDescription_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A code represents geographical location. Multiple codes search will be supported by using semi-colon as delimiter.  Example: LGB; OAK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Names" type="BasicDescription_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name represents geographical location. Multiple names search will be supported by using semi-colon as delimiter.  Example: Long Beach; Oakland.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchType" type="GeoLocationSearchTypeString_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The search type to find a geographical location. Max. length is 19.  Search Types : City, County, City by Postal Code, City by UN/LOCODE, Port, Country, Facility, Op Zone and Province/State.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>