src/main/resources/dtoSchemas/common/LocationShippingAttribute_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by David Li (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="LocationShippingAttribute_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the shipping info of a location.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsShippingPoint" type="xsd:boolean"/>
			<xsd:element name="IsContainerYard" type="xsd:boolean"/>
			<xsd:element name="IsDoor" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>