src/main/resources/dtoSchemas/common/NameAndIdentifier_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonRestrictions_V1.xsd"/>
	<xsd:complexType name="NameAndIdentifier_V1">
		<xsd:annotation>
			<xsd:documentation>A place holder for name and/or id of an entity. (ex. Commodity Group name and id)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the entity.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID" type="common:ID_LongNumeric_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The corresponding ID of the entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
