src/main/resources/dtoSchemas/common/PostalCode_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="BasicLocationInformation_V1.xsd"/>
	<xsd:include schemaLocation="GeoLocationType_V1.xsd"/>
	<xsd:include schemaLocation="ZIP_Code_V1.xsd"/>
	<xsd:complexType name="PostalCode_V1">
		<xsd:annotation>
			<xsd:documentation>Information about the zip code and post code.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="ID_String_V1"/>
			<xsd:element name="Code" type="ZIP_Code_V1"/>
			<xsd:element name="IsDefault" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="SequenceNumber" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="GeographicLocationType" type="GeoLocationType_V1" minOccurs="0"/>
			<xsd:element name="LocationInformation" type="BasicLocationInformation_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
