src/main/resources/dtoSchemas/common/ServiceLoop_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:fwd="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="ServiceLoopCode_V1.xsd"/>
	<xsd:include schemaLocation="ServiceLoopName_V1.xsd"/>
	<xsd:include schemaLocation="OceanTransport_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/TradeLane_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:complexType name="ServiceLoop_V1">
		<xsd:annotation>
			<xsd:documentation>Group of vessels which makes a particular voyage and serves a particular market</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Abbreviation" type="ServiceLoopCode_V1"/>
			<xsd:element name="Name" type="ServiceLoopName_V1" minOccurs="0"/>
			<xsd:element name="OceanTransport" type="OceanTransport_V1" minOccurs="0"/>
			<xsd:element name="TradeLane" type="tnm:TradeLane_V1" minOccurs="0"/>
			<xsd:element name="EffectiveFrom" type="fwd:FWAbsoluteDateTimeDTO" minOccurs="0"/>
			<xsd:element name="EffectiveTo" type="fwd:FWAbsoluteDateTimeDTO" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
