src/main/resources/dtoSchemas/common/StringKeyValuePair_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="StringKeyValuePair_V1">
		<xsd:annotation>
			<xsd:documentation>Extended from KeyValuePair_V1.xsd with both type as string</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Key" type="xsd:string"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
