src/main/resources/dtoSchemas/common/UserProfileSearch_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Hamilton Sum (OOCL (USA) INC) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="UserProfileTypes_V1.xsd"/>
	<xsd:complexType name="UserProfileSearchCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Criterias used when searching for user profiles.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="User" type="PersonName_V1" minOccurs="0"/>
			<xsd:element name="OfficeCode" type="EntityCode_V1" minOccurs="0"/>
			<xsd:element name="UserName" type="Username_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserProfileSearchResult_V1">
		<xsd:annotation>
			<xsd:documentation>Return results of searching for a user profile.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="User_V1">
				<xsd:sequence>
					<xsd:element ref="Office" minOccurs="0"/>
					<xsd:element ref="EmailAddress" minOccurs="0"/>
					<xsd:element ref="PhoneNumber" minOccurs="0"/>
					<xsd:element ref="MobilePhoneNumber" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
