src/main/resources/dtoSchemas/tnm/AgreementReference_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="AgreementID_V1.xsd"/>
	<xsd:include schemaLocation="AgreementVersion_V1.xsd"/>
	<xsd:include schemaLocation="AgreementType_V1.xsd"/>
	<xsd:complexType name="AgreementReference_V1">
		<xsd:annotation>
			<xsd:documentation>A reference uniquely identifying an agreement by its ID, version and type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="AgreementID_V1">
				<xsd:annotation>
					<xsd:documentation>agreement ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Version" type="AgreementVersion_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>version number of an agreement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="AgreementType_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
