src/main/resources/dtoSchemas/tnm/BasicAgreementInfo_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" xmlns:cus="http://com.oocl.schema.customer" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Company_V1.xsd"/>
	<xsd:include schemaLocation="AgreementStatus_V1.xsd"/>
	<xsd:include schemaLocation="AgreementVersion_V1.xsd"/>
	<xsd:include schemaLocation="AgreementParty_V1.xsd"/>
	<xsd:include schemaLocation="AgreementID_V1.xsd"/>
	<xsd:include schemaLocation="AgreementType_V1.xsd"/>
	<xsd:complexType name="BasicAgreementInfo_V1">
		<xsd:sequence>
			<xsd:element name="AgreementID" type="AgreementID_V1"/>
			<xsd:element name="VersionNumber" type="AgreementVersion_V1"/>
			<xsd:element name="Type" type="AgreementType_V1"/>
			<xsd:element name="ParentID" type="AgreementID_V1" minOccurs="0"/>
			<xsd:element name="ParentVersion" type="AgreementVersion_V1" minOccurs="0"/>
			<xsd:element name="ParentType" type="AgreementType_V1" minOccurs="0"/>
			<xsd:element name="Status" type="AgreementStatus_V1"/>
			<xsd:element name="OfficeCode" type="cmn:EntityCode_V1"/>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EffectiveDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Indicators" type="xsd:int" minOccurs="0"/>
			<xsd:element name="ShippingParty" type="AgreementParty_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CarrierGroupID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SC Carrier ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TNMAgreement" type="BasicAgreementInfo_V1"/>
</xsd:schema>
