src/main/resources/dtoSchemas/tnm/GetRB_ReferenceDataResult_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ab="http://com.oocl.schema.tnm.agreementbuilder" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommodityGroup_V1.xsd"/>
	<xsd:include schemaLocation="VolumeGroup_V1.xsd"/>
	<xsd:include schemaLocation="WeightGroup_V1.xsd"/>
	<xsd:include schemaLocation="RateTable_V1.xsd"/>
	<xsd:complexType name="GetRB_ReferenceDataResult_V1">
		<xsd:sequence>
			<xsd:element name="CommodityGroups" type="CommodityGroup_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WeightGroups" type="WeightGroup_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="VolumeGroups" type="VolumeGroup_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InlandTables" type="RateTable_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
