src/main/resources/dtoSchemas/tnm/InlandSurcharge_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by HUJI (Orient Overseas Container Line Ltd) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:fwd="http://com.oocl.frm.common.date.dto/" xmlns:eqm="http://com.oocl.schema.eqm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="SurchargeType_V1.xsd"/>
	<xsd:include schemaLocation="Tariff_V1.xsd"/>
	<xsd:include schemaLocation="ChargeGroup_V1.xsd"/>
	<xsd:include schemaLocation="CargoNatureGroup_V1.xsd"/>
	<xsd:include schemaLocation="PricingTransportMode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/AbstractCommonFields_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/ShipmentBound_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SingleEndDeliveryMode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/DateRange_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.eqm" schemaLocation="../eqm/ContainerType_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CargoNature_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/ServiceLoopCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/BasicLocationInformation_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/NameAndIdentifier_V1.xsd"/>
	<xsd:complexType name="InlandSurcharge_V1">
		<xsd:annotation>
			<xsd:documentation>Represents an inland surcharge</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:AbstractCommonFields_V1">
				<xsd:sequence>
					<xsd:element name="RateUUID" type="common:UUID_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Unique identifier for this inland surcharge.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RateID" type="common:ID_LongNumeric_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An automatically generated running number when a new rate is added/appended/inserted into the respective rate tables.  This id will be a unique key of rates within a rate table.  With this, user will be able to upload rate changes for a portion of a rate table.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RateTableID" type="common:ID_LongNumeric_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inland rate table ID which the inland surcharge is from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AppliesTo" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifically indicates that the inland surcharge is for inland rates only and not for port arbitrary. Allowable entries are Inland Rates and Port Arbitraries</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ApplyPercentRate" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates if additional rate % detail information should be included.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Bound" type="common:ShipmentBoundCode_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates that add-on rate is for IB (inbound) or OB (outbound) use. Available values are IB or OB. Blank means good for both.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CargoNatureGroupID" type="CargoNatureGroupID_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The ID of a corresponding CargoNatureGroup_V1 type which specifies rate applicability for different cargo natures</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CommodityGroupID" type="common:ID_LongNumeric_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The ID of a corresponding CommodityGroup_V1 type which specifies rate applicability for different cargo commodities (This old version is retained for Public Tariff use)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CommodityGroup" type="common:NameAndIdentifier_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The Name and ID of a corresponding CommodityGroup_V1 type which specifies rate applicability for different cargo commodities</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DGExceptionClasses" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>IMCO class number exceptions.  This field indicates that this surcharge is applicable to all DG except the listed IMCO codes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExemptedOriginDestination" type="common:BasicLocationInformation_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Exempted collection of the NP unique IDs corresponding to GeoLocations</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IsSOC" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inland surcharge is applicable only for Shipper Owned Containers when this is true and may only apply to container owned containers when this is false.   When absent, the rate may apply to both shipper owned containers and carrier owned containers</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Mode" type="common:SingleEndDeliveryMode_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Door (Carrier Haulage) or CY (Merchant haulage) indicator at Origin and Destination</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OriginDestination" type="common:BasicLocationInformation_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of the NP unique IDs corresponding to GeoLocations</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MinimumRate" type="xsd:decimal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>This is the minimum rate that should be charged to customer if % rate is applied.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ChargeGroup" type="tnm:ChargeGroup_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Charge group which contain the actual guideline rates per container dimension and rate level</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ServiceLoopCodes" type="common:ServiceLoopCode_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of service loop codes which must be found on the shipment route for the rate to be applicable</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SpecialContainerTypes" type="eqm:ContainerType_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of non-standard container type codes for a particular cargo nature which must be found on the shipment size type for the rate to be applicable</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SurchargeCode" type="tnm:SurchargeCode_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The 3 digit code that represents the corresponding surcharge.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TariffCodes" type="tnm:TariffCode_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of 3 digit code corresponding to the tariff governing the ocean rate (e.g. 016)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TransportModes" type="tnm:PricingTransportMode_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of transport mode for outbound or inbound which must be found on the shipment route for the rate to be applicable</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ViaLocations" type="common:BasicLocationInformation_V1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Collection of the NP unique IDs corresponding to the OriginDestination via GeoLocations.  OriginDestination via locations must be present on the shipment route for the rate to be applicable.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WeightGroupID" type="common:ID_LongNumeric_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The ID of a corresponding WeightGroup_V1 type which specifies rate applicability for a specific weight tier. When specified, the rate is only good for the weight range specified in the group.  If blank, it means the rate is good for all weight groups. (This old version is retained for Public Tariff use)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WeightGroup" type="common:NameAndIdentifier_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Then Name and ID of a corresponding WeightGroup_V1 type which specifies rate applicability for a specific weight tier. When specified, the rate is only good for the weight range specified in the group.  If blank, it means the rate is good for all weight groups.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EffectiveDateRange" type="common:DateRange_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The effective period of the ocean rate (YYYY-MM-DD format)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CargoNatureGroup" type="CargoNatureGroup_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CargoNatureGroup which specifies rate applicability for different cargo natures.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
