src/main/resources/dtoSchemas/tnm/SurchargeOverrideGroup_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Kent Williamson (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="SurchargeOverride_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>
	<xsd:complexType name="SurchargeOverrideGroup_V1">
		<xsd:annotation>
			<xsd:documentation>A group of surcharge overrides to be associated with an OceanRate for the purpose of imposing some rules or surcharge rates to apply with a guideline which 'override' the normal surcharge rate published in the tariff.  Commonly referred to as an 'SOG'</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="common:ID_LongNumeric_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The SOG's unique ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SurchargeOverride" type="tnm:SurchargeOverride_V1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Colleciton of Surcharge Overrides</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
