src/main/resources/dtoSchemas/tnm/SurchargeSearchCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by OOCL ISD (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="TradeCode_V1.xsd"/>
	<xsd:complexType name="SurchargeSearchCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Search ocean/inland surcharge criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TariffCode" type="TradeCode_V1">
				<xsd:annotation>
					<xsd:documentation>Surcharge tariff code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchStartDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Search surcharge eff start date with format '01-Jan-2010'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CachedStartDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cached surcharge eff start date with format '01-Jan-2010'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchEndDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Search surcharge eff end date with format '01-Jan-2010'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CachedEndDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cached surcharge eff end date with format '01-Jan-2010'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastUpdateDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Surcharge last update date with format '01-Jan-2010-12-34-56-123'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SurchargeIDs" type="cmn:UUID_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of surcharges that are already cached locally</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
