src/main/resources/dtoSchemas/tnm/TradeLaneDirection_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="TradeLaneCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CardinalDirection_V1.xsd"/>
	<xsd:complexType name="TradeLaneDirection_V1">
		<xsd:annotation>
			<xsd:documentation>TradeLane + Direction</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TradeLaneCode" type="TradeLaneCode_V1"/>
			<xsd:element name="DirectionCode" type="common:CardinalDirectionCode_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
