src/main/resources/dtoSchemas/customer/call/CustomerCall_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.customer.call" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:fwdt="http://com.oocl.frm.common.date.dto/"
			xmlns:callerid="http://com.oocl.schema.customer.callerid"
			xmlns:im="http://com.oocl.schema.customer.im"
			xmlns:common="http://com.oocl.schema.common"
            targetNamespace="http://com.oocl.schema.customer.call" 
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer.callerid" schemaLocation="../callerid/CustomerCallerID_Association_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.customer.im" schemaLocation="../im/SkillGroup_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CargoSmart_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/UserID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/PersonName_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Company_V1.xsd"/>
	<xsd:include schemaLocation="CallSessionID_V1.xsd"/>
	<xsd:include schemaLocation="CustomerCallVoiceRecording_V1.xsd"/>
	<xsd:element name="CustomerCall_V1" type="CustomerCall_V1">
		<xsd:annotation>
			<xsd:documentation>This is Element of Customer Call in AIO CSU.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerCall_V1">
		<xsd:annotation>
			<xsd:documentation>This represents Customer Call in AIO CSU.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CallSessionID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the Call Session ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerCallerID" type="callerid:CustomerCallerID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Customer Caller ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallHandledSkillGroup" type="im:SkillGroup_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Skill Group of that call handled by.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallEntryOffice" type="common:OfficeCode_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Entry Office of the call.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallHandledOffice" type="common:OfficeCode_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Office of that call handled by.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallerCS_UserID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the CargoSmart User ID of Caller by IVR.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CustomerCallAns" type="CustomerCallAns_V1" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is agent answer customer call.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerCallNature" type="CustomerCallNature_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is call nature of answered customer call.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerCallRef" type="CustomerCallRef_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is customer call related reference data.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerCallVoiceRecording" type="CustomerCallVoiceRecording_V1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is customer call voice recording data.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CustomerCallAns_V1">
		<xsd:annotation>
			<xsd:documentation>This is agent answer customer call.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CallAnsDateTimeGmt" type="fwdt:FWAbsoluteDateTimeDTO" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is DateTime of Call Answered.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallAnsDomainID" type="common:UserID_V1" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Domain ID of who answered the call.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanyName" type="common:CompanyName_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Company name of the customer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is SAP ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CS_ID" type="common:CargoSmart_ID_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the CargoSmart ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallAnsPerson" type="common:PersonName_V1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Full name (First Name, Last Name) of who answered the call.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CustomerCallNature_V1">
		<xsd:annotation>
			<xsd:documentation>This is call nature of customer call.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CallNatureCode" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Code of call nature.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive  value="0"/>
						<xsd:maxInclusive value="99999999"/> 
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CallNatureFreeText" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Free text of call nature.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CustomerCallRef_V1">
		<xsd:annotation>
			<xsd:documentation>This is customer call related reference data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RefCode" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Reference Code.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RefKeyValue" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is Reference Key Value.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
