src/main/resources/dtoSchemas/customer/CustomerSalesRepAssignment_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.customer" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/Trade_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../tnm/TradeLane_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SalesRepresentative_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/ServiceLoopCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Commodity_HS_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CommonRestrictions_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/ShipmentBound_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CargoNatureGroupType_V1.xsd"/>
	<xsd:complexType name="CustomerSalesRepAssignment_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This is a type that defines the sales representative-to-customer mapping and the scope that the sales representative covers with regards to helping customers with their shipments with OOCL.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SalesRepAssignmentUUID" type="common:UUID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Refers to the unique id of the sales representative assignment object in IRIS2.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Representative" type="common:SalesRepresentative_V1" minOccurs="0"/>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1" minOccurs="0"/>
			<xsd:element name="TradeCode" type="tnm:TradeCode_V1" minOccurs="0"/>
			<xsd:element name="TradeLaneCode" type="tnm:TradeLaneCode_V1" minOccurs="0"/>
			<xsd:element name="ShipmentBoundCode" type="common:ShipmentBoundCode_V1" nillable="true" minOccurs="0"/>
			<xsd:element name="ServiceLoopCode" type="common:ServiceLoopCode_V1" minOccurs="0"/>
			<xsd:element name="CommodityGroupCode" type="common:CommodityGroupAlphaCode_V1" minOccurs="0"/>
			<xsd:element name="IsPrimaryResponsible" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DefaultSalesMerit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SalesMerit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CargoNatureGroupType" type="common:CargoNatureGroupType_V1" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
