src/main/resources/dtoSchemas/customer/CustomerAddress_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Mai Pham (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:customer="http://com.oocl.schema.customer" xmlns:common="http://com.oocl.schema.common" xmlns:ns1="http://com.oocl.schema.common" targetNamespace="http://com.oocl.schema.customer" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/GeoLocationType_V1.xsd"/>
	 <xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/Address_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SAP_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CityLevel_V1.xsd"/>
	<xsd:complexType name="CustomerAddress_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
					Customer Address datatype contains SiteName, Address, GeoCity, and OfficeType.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SiteName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					This is the site name of the address.
				</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address" type="common:Address_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is free-style of the address: address line1, address line2...
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="City" type="common:CityLevel_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Basic City information.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OfficeType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						   Office Type denotes whether Customer office is Main Office or a Branch
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Main"/>
						<xsd:enumeration value="Branch"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
