src/main/resources/dtoSchemas/customer/CustomerBasicInformation_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by tusha (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:framework="http://com.oocl.frm.common.date.dto/" xmlns:customer="http://com.oocl.schema.customer" targetNamespace="http://com.oocl.schema.customer" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../framework/FWIODTDataTypes.xsd"/>  
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/CargoSmart_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/IRIS2_ID_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../common/SAP_ID_V1.xsd"/>
	<xsd:complexType name="CustomerBasicInformation_V1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				   Customer Basic Information contains the following customer attributes: Customer Company name, Sap ID, Iris2 ID, CargoSmart ID, Status, OfficeType and Last Update Date.  
		</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						   SAP ID is the unique identifier for a given Customer in reference to SAP Application.  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IRIS2_ID" type="common:IRIS2_ID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						   IRIS2 ID is another customer identifier within the IRIS2 Application.  Its value may be common to a group of IRIS2 Customers
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CargoSmart_ID" type="common:CargoSmart_ID_V1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						   CargoSmart ID is the unique customer identifier under CargoSmart application.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					   Customer Status denotes whether customer is Active or Not.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Active"/>
						<xsd:enumeration value="Inactive"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		    <xsd:element name="LastUpdateDate" type="framework:FWAbsoluteDateTimeDTO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					   Last Update Date represent customer record's last update date.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element> 
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
