src/main/resources/dtoSchemas/tnm/servicebuilder/AllSBReferenceData_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:common="http://com.oocl.schema.common" xmlns:eqm="http://com.oocl.schema.eqm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CargoNature_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/CardinalDirection_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Port_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Region_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/ServiceLoopCode_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/DurationType_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.eqm" schemaLocation="../../eqm/ContainerSize_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.eqm" schemaLocation="../../eqm/ContainerType_V1.xsd"/>
	<xsd:include schemaLocation="../TariffCode_V1.xsd"/>
	<xsd:include schemaLocation="../Trade_V1.xsd"/>
	<xsd:include schemaLocation="../TradeLaneCode_V1.xsd"/>
	<xsd:include schemaLocation="GenericReferenceData_V1.xsd"/>
	<xsd:complexType name="AllSBReferenceData_V1">
		<xsd:annotation>
			<xsd:documentation>Containing all service builder possible reference data</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CargoNatures" type="common:CargoNatureCode_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContainerCategories" type="eqm:ContainerType_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContainerSizes" type="eqm:ContainerSize_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Directions" type="common:CardinalDirectionName_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LoadPorts" type="common:Port_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DischargePorts" type="common:Port_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Regions" type="common:Region_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceLoops" type="common:ServiceLoopCode_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Tariffs" type="tnm:TariffCode_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TradeLanes" type="tnm:TradeLaneCode_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Trades" type="tnm:Trade_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SpecificRangeUnits" type="tnm:GenericReferenceData_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DurationUnits" type="common:DurationType_V1" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NotificationTypes" type="tnm:GenericReferenceData_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
