src/main/resources/dtoSchemas/tnm/servicebuilder/NotificationCharacteristic_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="Characteristic_V1.xsd"/>
	<xsd:include schemaLocation="Recipient_V1.xsd"/>
	<xsd:complexType name="NotificationCharacteristic_V1">
		<xsd:annotation>
			<xsd:documentation>Notifications has Characteristic part like Conditions and Options, besides that, it also has recipient info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Characteristic" type="tnm:Characteristic_V1" minOccurs="0"/>
			<xsd:element name="Recipient" type="tnm:Recipient_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
