src/main/resources/dtoSchemas/tnm/servicebuilder/ServiceBuilderAlertSearchCriteria_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Rick Vera (OOCL (USA), Inc.) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/AuthUserProfile_V1.xsd"/>
	<xsd:include schemaLocation="ServiceBuilderAlertType_V1.xsd"/>
	<xsd:include schemaLocation="TailoredServiceName_V1.xsd"/>
	<xsd:include schemaLocation="ServiceTemplateName_V1.xsd"/>
	<xsd:complexType name="SBAlertSearchCriteria_V1">
		<xsd:annotation>
			<xsd:documentation>Alert Search Criteria for Service Builder Module</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceTemplate" type="tnm:ServiceTemplateName_V1" minOccurs="0"/>
			<xsd:element name="TailoredService" type="tnm:TailoredServiceName_V1" minOccurs="0"/>
			<xsd:element name="AlertType" type="tnm:ServiceBuilderAlertType_V1" minOccurs="0"/>
			<xsd:element name="NotifyParty" type="common:AuthUserProfile_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
