src/main/resources/dtoSchemas/tnm/servicebuilder/ServiceTemplateName_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Template_V1.xsd"/>
	<xsd:complexType name="ServiceTemplateName_V1">
		<xsd:annotation>
			<xsd:documentation>Service Template Name and Abbreviation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Abbreviation" type="common:Template_Abbreviation_V1" minOccurs="0"/>
			<xsd:element name="Name" type="common:Template_Name_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
