src/main/resources/dtoSchemas/tnm/servicebuilder/ServiceTemplateSummary_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Rick Vera (OOCL (USA), Inc.) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" xmlns:fwd="http://com.oocl.frm.common.date.dto/" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="UserSummary_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.frm.common.date.dto/" schemaLocation="../../../framework/FWIODTDataTypes.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/Template_V1.xsd"/>
	<xsd:complexType name="ServiceTemplateSummary_V1">
		<xsd:annotation>
			<xsd:documentation>The list of Service Template Summary fields</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Abbreviation" type="common:Template_Abbreviation_V1" minOccurs="0"/>
			<xsd:element name="Name" type="common:Template_Name_V1" minOccurs="0"/>
			<xsd:element name="Version" type="common:Template_Version_V1" minOccurs="0"/>
			<xsd:element name="TailoredServicesCount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="CreatedBy" type="tnm:UserSummary_V1" minOccurs="0"/>
			<xsd:element name="CreationDateTime" type="fwd:FWLocalizedDateTimeDTO" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
