src/main/resources/dtoSchemas/tnm/servicebuilder/ShippingParty_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jianming Hu (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/SAP_ID_V1.xsd"/>
	<xsd:include schemaLocation="../ShippingPartyRole_V1.xsd"/>
	<xsd:complexType name="SB_ShippingParty_V1">
		<xsd:annotation>
			<xsd:documentation>Shipping Party roleCode, like "CCP", "ASC", "SHP",..   and Customer sapId</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RoleCode" type="tnm:ShippingPartyRoleCode_V1" minOccurs="0"/>
			<xsd:element name="SAP_ID" type="common:SAP_ID_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
