src/main/resources/dtoSchemas/tnm/servicebuilder/TailoredServiceViewGroup_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Rick Vera (OOCL (USA), Inc.) -->
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="TailoredValueChangeDetail_V1.xsd"/>
	<xsd:complexType name="TailoredServiceViewGroup_V1">
		<xsd:annotation>
			<xsd:documentation>Tailored Service View Group name and details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Details" type="tnm:TailoredValueChangeDetail_V1" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
