src/main/resources/dtoSchemas/tnm/servicebuilder/TailoredServiceName_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../../common/NameAndAbbreviation_V1.xsd"/>
	<xsd:include schemaLocation="ServiceTemplateName_V1.xsd"/>
	<xsd:complexType name="TailoredServiceName_V1">
		<xsd:annotation>
			<xsd:documentation>Tailored Service Name and Abbreviation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameAndAbbreviation" type="common:NameAndAbbreviation_V1" minOccurs="0"/>
			<xsd:element name="Template" type="tnm:ServiceTemplateName_V1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
