src/main/resources/dtoSchemas/tnm/servicebuilder/TemplateCharacteristic_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="TemplateCharacteristic_V1">
		<xsd:annotation>
			<xsd:documentation>Template Characteristic Info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AllowsMultipleValues" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="IsSettingsConfigurable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="IsDefaultConfigurable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="IsTableColumn" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AlwaysRequired" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
