src/main/resources/dtoSchemas/tnm/servicebuilder/UserSummary_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.oocl.schema.tnm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.tnm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="UserSummary_V1">
		<xsd:annotation>
			<xsd:documentation>User Summary, including userId, lastName and firstName</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UserID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
