src/main/resources/dtoSchemas/common/event/TMISCutoff_EVT_V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) (OOCL (USA) INC) -->
<xsd:schema xmlns="http://com.oocl.schema.common.event" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://com.oocl.schema.common" xmlns:tnm="http://com.oocl.schema.tnm" targetNamespace="http://com.oocl.schema.common.event" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://com.oocl.schema.common" schemaLocation="../BasicVoyageLookup_V1.xsd"/>
	<xsd:import namespace="http://com.oocl.schema.tnm" schemaLocation="../../tnm/TradeLaneCode_V1.xsd"/>
	<xsd:element name="TMISCutoff_EVT_V1">
		<xsd:annotation>
			<xsd:documentation>This generates domain state change event whenever any part of ITS_TMIS_CUTOFF data changes (insert, update, delete)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="VoyageInformation" type="common:BasicVoyageLookup_V1">
					<xsd:annotation>
						<xsd:documentation>Basic voyage search information - Service Loop abbreviation, vessel code, voyage number and direction.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TradeLaneCode" type="tnm:TradeLaneCode_V1" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Trade Lane code. Max. length is 3.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
