src/main/resources/dtoSchemas/common/event/VesselCapacity_EVT_V1.xsd

<?xml version="1.0"?>
<!-- edited with TextPad :-)) -->
<xsd:schema xmlns="http://com.oocl.schema.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.oocl.schema.common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../CommonRestrictions_V1.xsd"/>
	<xsd:include schemaLocation="../CardinalDirection_V1.xsd"/>
	<xsd:element name="VesselCapacity_EVT_V1">
		<xsd:annotation>
			<xsd:documentation>This generates domain state change event whenever any part of ITS_VSL_CAPACITY data changes (insert, update, delete)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ServiceLoopAbbreviation" type="EntityAbbreviation_V1"/>
				<xsd:element name="VesselCode" type="EntityCode_V1"/>
				<xsd:element name="VoyageDirection" type="CardinalDirectionName_V1"/>
				<xsd:element name="Partner" type="String10_V1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>